<div class="global">
    <div class="ruben-col">
        <div class="ruben-row">
            <form class="ruben-formulario"> 
                <label for="fname" class="ruben-label" >Tiempo de espera:</label>
                <input class="ruben-input" placeholder="20 minutos/persona" type="text" id="user" style="text-align: center;">
                <!-- Boton modal modificar -->
                <button type="button" class="boton-modificar" data-toggle="modal" data-target="#modalModificar">
                    Modificar
                </button>
                <!-- Modal boton modificar-->
                <app-modal [mensajeModal]='mensajeModal'></app-modal> 
            </form>
            <div class="ruben-avanzar-cola">
                <!-- Botono modal iniciar -->
                    <div class="col der2" *ngIf="estadoCola">
                        <button type="button"  class="boton-avanzar-cola" data-toggle="modal" data-target="#modalIniciar">
                            Iniciar Cola
                        </button>
                        <!-- Modal boton Iniciar-->
                        <app-modal [mensajeModal]='mensajeModalIniciar' (eventoCola)="botonIniciarDetener($event)"></app-modal>
                    </div>
                    <!-- Botono modal detener -->
                    <div class="col der2" *ngIf="!estadoCola">
                        <button type="button"  class="boton-detener-cola" data-toggle="modal" data-target="#modalDetener">
                            Detener Cola
                        </button>
                        <!-- Modal botono Detener-->
                        <app-modal [mensajeModal]='mensajeModalDetener' (eventoCola)="botonIniciarDetener($event)"></app-modal>
                    </div>
                
            </div>
        </div>
        
       <div class="ruben-row2 contenedor-2 responsive-web">
                <div class="ruben-col contenedor-cola" >                
                    <div class="cuadros">
                        <i class="fas fa-male texto-cuadro"></i>
                        <p class="cuadros-texto" >Personas en Cola:</p>
                        <p class="cuadros-texto" >9</p>
                    </div>
                    <div class="cuadros">
                        <i class="fas fa-child texto-cuadro" ></i>
                        <p class="cuadros-texto" style="margin-bottom: 20px;">Numero de Cliente:</p>
                        <p class="cuadros-texto" >8</p>
                    </div>
                    <div class="cuadros cuadr2 ">
                        <i class="fas fa-ticket-alt" style="font-size: 40px; color: white;"></i>
                        <p class="cuadros-texto">Proximo Cliente:</p>
                        <p class="cuadros-texto" >Rubenrivas15</p>
                        
                    </div>
                    <div class="cuadros cuadr2 ">
                        <i class="fas fa-walking" style="font-size: 40px; color: white;" ></i>
                        <p class="cuadros-texto">Clientes Atendidos:</p>
                        <p class="cuadros-texto" >20</p>
                    </div>
                </div>
            
        </div>


        <div class="ruben-row3 contenedor-2 responsive-movil" style="margin-top: 50px;" >
            <hr>
                <div class="cuadros">
                    <i class="fas fa-male texto-cuadro2" ></i>
                    <p class="cuadros-texto" style="margin-bottom: 5px;">Personas en Cola:</p>
                    <p class="cuadros-texto" >9</p>                        
                </div>
                <div class="cuadros">
                    <i class="fas fa-child texto-cuadro2" ></i>
                    <p class="cuadros-texto" style="margin-bottom: 5px;">Numero de Cliente:</p>
                    <p class="cuadros-texto" >8</p>
                </div>
                <div class="cuadros">
                    <i class="fas fa-walking texto-cuadro2"  ></i>
                    <p class="cuadros-texto" style="margin-bottom: 5px;">Clientes Atendidos:</p>
                    <p class="cuadros-texto" >20</p>
                </div>
                <div class="cuadros">
                    <i class="fas fa-ticket-alt texto-cuadro2"></i>
                    <p class="cuadros-texto" style="margin-bottom: 5px;">Proximo Cliente:</p>
                    <p class="cuadros-texto" >Rubenrivas15</p>
                </div>      
        </div>

    </div>
</div>
