
.boton2{
    margin: 5px 0px 0px 0px;
    background-color: #5C74F6;
}

.cuadros{
    /* background-color: #5C74F6;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2); */
    background-color: white;
    border: solid #5C74F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 220px;
    height: 150px;
    /* transition: width 0.7s ease-out; */
    transition: transform 1s;
    margin-right: 6px;
    color: #5C74F6;
}

.cuadr2{
    margin-left: -150px;
}

.cuadros:hover{
    /* width: 260px;
    border: 2px solid transparent;
    transition-timing-function: linear;
    
    font-size: 100px; */
    background-color: #3547ad;
    transform: scale(1.1);
    color: white;
}

.c1{
    background-color: #5C74F6;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 200px;
    max-height: 100px;
    transition: max-height 1s ease-in-out;
    margin-right: 6px;
    overflow:hidden;
}

.c1:hover{
    max-height:100%;
    border: 2px solid transparent;
    transition-timing-function: linear;
    background-color: #3547ad;
}



.ruben-semi-header{
    margin-left: 80px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;

}

.ruben-label{
    text-align: center;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 8px;
    
}

.ruben-input{
    width: 170px;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin-right: 8px;
}

.separador{
    height: 50px;
    border:0.1px solid rgb(233, 233, 233);
    margin-left: 15px;
}

.boton-modificar{
    background-color: #5C74F6;
    border-radius: 5px;
    color:#fff;
    border: none;
    padding: 5px 7px 5px 7px;
}


.ruben-row{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.ruben-row3{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    
}

.ruben-col{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.ruben-header{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 30px;
    width: 1110px;
    
}

.ruben-formulario{
    display:flex; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;
    width: 670px;
    
}

.boton-avanzar-cola{
    background-color: #5C74F6;
    border-radius: 5px;
    color:#fff;
    border: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.boton-detener-cola{
    background-color: rgb(238, 26, 26);
    border-radius: 5px;
    color:#fff;
    border: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.contenedor-cola{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    padding: 0px 20px 0px 20px;
    width: 670px;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-height: 400px;
    min-height: 400px;
    
}

.contenedor-cliente{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    
}

.contenedor-2{
    margin-top: 50px;
    box-sizing: border-box;
    /* box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    width: 680px;
    height: 200px;
    padding-top: 25px; */
}

.ruben-col2{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.ruben-row2{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.foto{
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}

.imagen{
    display: flex;
    width: 200px;
    height: 200px;
}

.global{
    margin-top: 60px;
    margin-left: 20%;
    margin-right: 20%;
    
}

.rub:hover{
    transform: scale(1.5);
}

.responsive-movil{
    display: none;
}

.texto-cuadro2{
    font-size: 40px; 
    color: white;
}

.cuadros-texto{
    font-size: 20px;
}

.numero{
    margin-top: -8px;
    font-size: 35px;
    font-weight: bold;
}


@media screen and (max-width:390px){

    
    .global{
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    .contenedor-cola{
        max-height:initial;
        overflow-y:initial;
        overflow-x: initial;
        margin-bottom: 20px;
    }
    
    .ruben-col{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 374px;
    }

    .ruben-row{
        width: 374px;
    }
    .ruben-row2{
        width: 374px;
    }
    
    .ruben-header{
        padding: 10px;
        width: 300px;
        margin-left: 35px;
    }

    .ruben-formulario{
        padding: 10px;
        width: 300px;
        padding: 20px;
        padding-top: 1px;
        max-height: 140px;
        min-height: 130px;
        margin-left: 42px;
    }

    .separador{
        display: none;
    }

    .ruben-input{
        width: 50px;
        font-size: 14px;
    }

    .ruben-label{
        margin-right: 5px;
        font-size: 15px;
    }

    .ruben-avanzar-cola{
        margin-top: -70px;
        margin-left: 105px;
        margin-bottom: -50px;
    }

    .contenedor-cola{
        margin-left: 38px;
        width: 300px;
        margin-right: 0px;
    }
    
    .contenedor-2{
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .boton-avanzar-cola{
        margin-left:-105px;
        height: 60px;
        margin-bottom: 0px;
        width: 260px;
    }
    
    .boton-detener-cola{
        margin-left:-105px;
        height: 60px;
        margin-bottom: 0px;
        width: 260px;
    }

    .responsive-web{
        display: none;
    }
    
    .responsive-movil{
        display: initial;
        margin-top: 0px;
        margin-left: 42px;
    }

    .texto-cuadro2{
        font-size: 20px; 
        color: white;
    }
    
    .cuadros-texto{
        font-size:20px;
        color: #5C74F6;
        
    }

    .cuadros{
        height: 100px;
        width: 300px;
        background-color: white;
        border: solid #5C74F6;
    }

    .cuadros:hover{
        transform: none;
        background-color: white;
    }
    .numero{
        font-size: 35px;
        color: #5C74F6;
        font-weight: bold;
    }

    .boton-avanzar-cola{
        margin-top: 15px;
        border-radius: 5px;
        color:#fff;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height: 35px;
    }

    .boton-detener-cola{
        margin-top: 15px;
        border-radius: 5px;
        color:#fff;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height: 35px;
    }

    .boton-modificar{
        padding: 6px 7px 6px 7px;
    }
}



