/* *{
    
}

.izq{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.izq2{
    align-items: center;
}

.header{
    font-family: Abril Fatface;
    margin: 40px 0px 40px 0px;
    font-size: 25px;
}

.cuadros{
    transition: transform 1s ease-out;
    background-color: #6C5CE7;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin-bottom: 15px;
}

.cuadros:hover{
    transform: rotate(360deg);
}

.cuadros-texto{
    
    font-family:Titillium Web;
    font-weight: 900;
    font-size: 25px;
    color: white;
    margin: 1px;

}


.formulario{
    display: flex; 
    flex-direction: row; 
    padding: 10px;
    margin: 10px;
}

input{
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ccc;
    text-align: center;
    border-radius: 5px;
}

.texto-input{

    text-align: center;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 18px;
}

.der2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.boton1{
    margin: 5px 0px 0px 0px;
    background: #6C5CE7;
    color:#fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 20px;
}

.boton2{
    margin: 5px 0px 0px 0px;
    background: #6C5CE7;
    color:#fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 60px;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 30px;
}

.boton3{
    margin: 5px 0px 0px 0px;
    color:#fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 60px;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 30px;
}

.prueba{
    background-color: green;
}

.vistaMovil{
    margin-top: 110px;
}

.vistaweb{
    margin-top: 90px;
}

/* Reponsive */
/* @media screen and (max-width:475px){
    
   
    .vistaweb{
        margin-top: 40px;
    }

    .cuadros{
        width: 250px;
    }

    .izq{
        width: 350px;
        margin-left: 60px;
    }
    
    .vistaMovil{
        margin-top: 40px;
    }

    .cuadros-texto{
    
        font-size: 18px;
    }

    .texto-input{
        font-size: 18px;
    }

    .carrito{
        font-size: 18px;
    }

    .boton2{
        width: 90%;
        height: 50px;
        font-size: 18px;
    }

    .der2{
        margin-left: 3px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .boton3{
        width: 90%;
        height: 50px;
        font-size: 18px;
    }
}

@media screen and (max-width:450px){
    
    .izq{
        margin-left: 40px;
        
        
    }
    
}

@media screen and (max-width:420px){
    
    .izq{
        margin-left: 25px;
    }
    
}

@media screen and (max-width:405px){
    
    .izq{
        margin-left: 15px;
    }
    
}

@media screen and (max-width:390px){
    
    .izq{
        width: 330px;
    }
    
}

@media screen and (max-width:376px){
    
    .izq{
        margin-left: 12px;
        
    }
    
}

@media screen and (max-width:370px){
    
    .izq{
        width: 320px;
        
    }
    
}

@media screen and (max-width:360px){
    
    .izq{
        width: 310px;
        
    }
    
}

@media screen and (max-width:360px){
    
    .izq{
        width: 310px;
        
    }
    
} */ */





/* AQUIIIIIIIIIIIIIIIIIIII */
.boton2{
    margin: 5px 0px 0px 0px;
    background-color: #5C74F6;
}

.cuadros{
    background-color: #5C74F6;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    max-height: 190px;
    min-height: 190px;
}

.cuadros:hover{
    transform: scale(1.02);
    border: 2px solid transparent;

}

.cuadros-texto{
    font-size: 20px;
    color: white;
    
}

.ruben-semi-header{
    margin-left: 80px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;

}

.ruben-label{
    text-align: center;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 8px;
    
}

.ruben-input{
    width: 170px;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin-right: 8px;
}

.boton-modificar{
    background-color: #5C74F6;
    border-radius: 20px;
    margin: 5px 0px 0px 0px;
    color:#fff;
    border: none;
}


.ruben-row{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.ruben-col{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.ruben-header{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 30px;
    width: 1110px;
    
}

.ruben-formulario{
    display:flex; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;
    margin-right: 30px;
}

.boton-avanzar-cola{
    margin: 5px 0px 0px 0px;
    color:#fff;
    border: none;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 20px;
}

.contenedor-cola{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    width: 670px;
    box-sizing: border-box;
    margin-right: 100px;
    margin-left: 85px;
    margin-bottom: 20px;
    flex-wrap: nowrap !important;
    
}

.contenedor-cliente{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.contenedor-2{
    margin-top: 20px;
    
}

.ruben-col2{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.ruben-row2{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.foto{
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}

.imagen{
    display: flex;
    width: 200px;
    height: 200px;
}

/* animacion */

#bern-stop {
    width:112px;
    height:156px;
    margin:auto;  
    background: url(http://i.imgur.com/ifk0SLH.png) repeat-x;
    background-position:0;
    /* background-position:-112px; */
    /* animation: walk .8s steps(6) infinite; */
}

#bern {
    width:112px;
    height:156px;
    margin:auto;  
    background: url(http://i.imgur.com/ifk0SLH.png) repeat-x;
    background-position:0;
    background-position:-112px;
    animation: walk .8s steps(6) infinite;
}

@keyframes walk {
    0% { background-position:0 }
    100% { background-position:-672px }    
}
/*******ticket****/
img {
    width: 200px;
    border-radius: 10px;
}

@media screen and (max-width:390px){

    .ruben-col{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 374px;
    }

    .contenedor-cliente{
        display: none;
    }

    .ruben-row2{
        width: 374px;
    }
    
    .ruben-header{
        padding: 10px;
        width: 300px;
        margin-left: 35px;
    }

    h1{
        font-size: 30px;
    }

    .ruben-formulario{
        display:flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 300px;
        margin-left: 35px;
    }

    .ruben-input{
        margin-bottom: 5px;
    }

    .ruben-avanzar-cola{
        margin-top: 20px;
        margin-left: 10px;
    }

    .contenedor-cola{
        margin-left: 38px;
        width: 300px;
        margin-right: 0px;
    }
    
    .contenedor-2{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    
}