/*****Estilos*****/
.padre {
    background-color: rgba(242, 241, 237, 1);
    border-width: 15px;
    border-color: rgba(242, 241, 237, 1);
    border-radius: 5px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    max-width: min(720px, calc(100vw - 40px));
    margin: 0 auto;
    margin-top: 5px;
}

@media screen and (max-width: 813px) {
    .padre {
        display: flex;
        flex-direction: column;
        max-width: min(720px, calc(100vw - 10px));
        margin-top: 10px;
    }
}

/*******************imagen*****************************/

.img-tarjeta {
    background-repeat:no-repeat;
   	background-size:100% 100%;
    width:auto;
    max-height: 180px;
    min-height: 180px;
    overflow-y: hidden;
}

.imagenD {
    width: 100%;
    max-height: 100%;
    min-height: 100px;
    min-width: min(720px, calc(100vw - 40px));
    border-radius: 5px;    
}

@media screen and (max-width: 813px) {
    .imagenD {
        max-height: 100%;
        min-height: 100px;
    }
}

/**********************************boton, corazon y nombre********************************/

.sobreFoto {
    position: sticky;
    top: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0px;   
}

.nombre {
    background-color: rgba(0, 0, 0, .6);
    height: fit-content;/*ajusta el tamaño al contenido de la caja*/
    padding: 10px 20px;
    color: #ffff;
    font-size: 22px;
    font-family: Abril Fatface;
}

@media screen and (max-width: 813px) {
    .nombre {
        background-color: rgba(0, 0, 0, .9);
        height: fit-content;/*ajusta el tamaño al contenido de la caja*/
        /* padding: 5px 10px; */
        color: #ffff;
        font-size: 22px;
        margin-left: 43px;
        font-family: Abril Fatface;
    }
}

.botones {
    background-color: rgba(0, 0, 0, .7);
    height: fit-content;
    padding: 5px;
    min-width: max-content;/*la caja tiene un width definido, no se mueve, es el mínimo del máximo*/
    margin: 15px;
}

@media screen and (max-width: 813px) {
    .botones {
        background-color: rgba(0, 0, 0, .6);
        margin-right: 99px;
        margin-bottom: 14px;
        min-width: max-content
    }
}

.boton {
    background-color: #5C74F6;
    border-style: none;
    margin: auto 10px;
    border-radius: 5px;
    color: white;
    width: 175px;
}

@media screen and (max-width: 813px) {
    .boton {
        margin-bottom: 15px;
        margin-left: 15px;
        width: 95px;
    }
}

.boton2 {
    margin: auto 10px;
    font-size: 30px;   
}

@media screen and (max-width: 813px) {
    .boton2 {
        margin-left: 0;
        margin-right: auto;      
    }
}

.corazonGris {
    color: #C1B8B8;
}

.corazonRed {
    color:rgba(239, 58, 58, 1)
}

/*****************************Texto tarjeta*********************************/

.agrupado {
    display: flex;    
    justify-content:space-between;
    align-items: center;
    padding: 10px 0px;
}

@media screen and (max-width: 813px) {
    .agrupado {
        display: flex; 
        flex-direction: column;   
        justify-content: center;
        align-items: center;
        margin: auto 42px 0px; 
        column-count: 1;
    }
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    margin: auto 20px;
}

.lineaLista {
    font-weight: bold;
}

.horario {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 250px;
}

@media screen and (max-width: 813px) {
    .horario {
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;     
    }
}

.lineaHorario {
    font-weight: bold;
}

.parrafoHora {
    font-weight:lighter;
}

@media screen and (max-width: 813px) {
    .parrafoHora {
        margin: auto 15px;        
    }
}

.descripcion {
    display: flex;    
    justify-content:flex-start;
    align-items: center;
    padding: 10px 0px;
}

.titulo {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto 20px;
}

@media screen and (max-width: 813px) {
    .titulo {
        margin: auto 48px;
        /* padding: 10px 0px;         */
    }
}

.parrafo1 {
    margin: 10px 20px 10px 20px;
    font-weight:lighter;
}

.parrafo {
    margin: 10px 20px 10px 20px;
    font-weight:lighter;
}

@media screen and (max-width: 813px) {
    .parrafo {
        margin: auto 48px;        
    }
}

/********************************boton de regreso************************/

.regresar {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-content:center;
    /* flex-wrap: wrap; */
    margin-left: 15px;
    margin-top: 10px;
    max-width: fit-content;
}

.bton-regresar {
    background-color: #5C74F6;
    border-style: none;
    margin: auto 10px;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 50px;
}

@media screen and (max-width: 813px) {
    .regresar {
        display: flex;   
        flex-direction: column; 
        justify-content:initial;
        align-items: center; 
        margin-left: 135px;
        width: 210px;
        height: 30px;   
    }
}

@media screen and (max-width: 813px) {
    .regresar {
        display: flex;   
        flex-direction: column; 
        justify-content:initial;
        align-items: center; 
        margin-left: 115px;
        width: 210px;
        height: 30px;   
    }
}

.titular {
    /* display:inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 35px;
}

@media screen and (max-width: 813px) {
    .titular {
        display: flex;   
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        margin: 5px 70px 5px 110px;
        font-size: 25px;
    }
}

@media screen and (max-width: 475px) {
    .padre  {
        margin:20px;
    }

    .botones    {
        position:absolute;
        left:160px;
    }

    h2  {
        position:absolute;
        left:-30px;
    }

    .descripccion    {
        display:none;
    }
}











