.star {
  cursor: pointer;
  color: #c1b8b8;
}

.star.colorido {
  color: rgb(236, 194, 6);
  font-size: 30px;

}
.clasificacion{
  margin-top: 0px;
  font-size: 30px;
  /* font-size: 30px;  
  display: flex;
  flex-direction: row; */
}