<div class='container'>
    <div class='col-3 logo'></div>

    <div class='col-3'>
        <div class='row numero'>
            <div>
                <h5><strong>Ticket nº:</strong></h5>
            </div>
        </div>

        <div class='row ticket'>
            <h4><strong>25</strong></h4>
        </div>
    </div>

    <div class='col-3'>
        <div class='row numero'>
            <div>
                <h5><strong>Te tocará en:</strong></h5>
            </div>
        </div>

        <div class='row reloj'>
            <h4 class='minutos'><strong>5m</strong></h4>
        </div>
    </div>

    <div class='col-3'>
        <div class='row numero'>
            <div>
                <h5><strong>¿Cambio de planes?</strong></h5>
            </div>
        </div>

        <div class='row'>
            <button class="boton" data-toggle="modal" data-target="#modalModificar">Cancelar</button>
        </div>
    </div>
</div>

<div class='container'>
    <div class='col-3 starbucks'></div>

    <div class='col-3'>
        <div class='row numero'>
            <div>
                <h5><strong>Ticket nº:</strong></h5>
            </div>
        </div>

        <div class='row ticket'>
            <h4><strong>25</strong></h4>
        </div>
    </div>

    <div class='col-3'>
        <div class='row numero'>
            <div>
                <h5><strong>Te tocará en:</strong></h5>
            </div>
        </div>

        <div class='row reloj'>
            <h4 class='minutos'><strong>5m</strong></h4>
        </div>
    </div>

    <div class='col-3'>
        <div class='row numero'>
            <div>
                <h5><strong>¿Cambio de planes?</strong></h5>
            </div>
        </div>

        <div class='row'>
            <button class="boton" data-toggle="modal" data-target="#modalModificar">Cancelar</button>
        </div>
    </div>
</div>

<div class='containerResponsive'>
    <div class='col-4 logo'>
        <div class='row'>
            <div class='row'>
                <button class="boton" data-toggle="modal" data-target="#modalModificar">Cancelar</button>
            </div>
        </div>
    </div>

    <div class='col-4'>
        <div class='row numero'>
            <div>
                <h5><strong>Ticket nº:</strong></h5>
            </div>
        </div>

        <div class='row ticket'>
            <h4><strong>25</strong></h4>
        </div>
    </div>

    <div class='col-4'>
        <div class='row numero'>
            <div>
                <h5><strong>Te tocará en:</strong></h5>
            </div>
        </div>

        <div class='row reloj'>
            <h4 class='minutos'><strong>5m</strong></h4>
        </div>
    </div>
</div>

<div class='containerResponsive'>
    <div class='col-4 starbucks'>
        <div class='row'>
            <div class='row'>
                <button class="boton" data-toggle="modal" data-target="#modalModificar">Cancelar</button>
            </div>
        </div>
    </div>

    <div class='col-4'>
        <div class='row numero'>
            <div>
                <h5><strong>Ticket nº:</strong></h5>
            </div>
        </div>

        <div class='row ticket'>
            <h4><strong>25</strong></h4>
        </div>
    </div>

    <div class='col-4'>
        <div class='row numero'>
            <div>
                <h5><strong>Te tocará en:</strong></h5>
            </div>
        </div>

        <div class='row reloj'>
            <h4 class='minutos'><strong>5m</strong></h4>
        </div>
    </div>
</div>

<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style='color:#007bff'>Cancelar turno</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style='text-align: center;'>
          <h4>¿Quieres ceder el turno?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Tengo otro plan</button>
        </div>
      </div>
    </div>
</div>