<div class="global">
    <section class="container">    

        <article class="col-2 col1">
    
            <img class="img" src="./assets/mcdonalds.png" alt="gym">
        </article>

        <div class="sobreFoto">
    
            <h2 class="nombre">EMPRESA</h2>

        </div>
    
        <div class="centro">

            <article class="col-3 col2"> 
    
                <div class="fila">
    
                    <i class="fa fa-hourglass-half tiempo" aria-hidden="true">(min.)</i>
    
                </div>  
                
                <div class="fila">                    
    
                    <p class="parrafo">25</p>
    
                </div>
                    
            </article>

            
    
            <article class="col-3 col2"> 
    
                <div class="fila">                    
    
                    <i class="fa fa-ticket tiempo" aria-hidden="true"></i>
    
                </div>   
                
                <div class="fila">                    
    
                    <p class="parrafo">5</p>
    
                </div>
                    
            </article>
    
        </div>
    
        <article class="col-2 col3">
    
            <div>
                <button class="boton" data-toggle="modal" data-target="#modalModificar">Cancelar</button>
            </div>
    
            <app-modal [mensajeModal]="clienteCola"></app-modal>
    
        </article>
    
    </section>


<!-- --------------------------------------segunda linea. Borrar. Va con ngFor -->

<section class="container">    

    <article class="col-2 col1">

        <img class="img" src="./assets/starbucks.png" alt="gym">
    </article>

    <div class="sobreFoto">

        <h2 class="nombre">EMPRESA</h2>

    </div>

    <div class="centro">

        <article class="col-3 col2"> 

            <div class="fila">

                <i class="fa fa-hourglass-half tiempo" aria-hidden="true">(min.)</i>

            </div>  
            
            <div class="fila">                    

                <p class="parrafo">25</p>

            </div>
                
        </article>

        

        <article class="col-3 col2"> 

            <div class="fila">                    

                <i class="fa fa-ticket tiempo" aria-hidden="true"></i>

            </div>   
            
            <div class="fila">                    

                <p class="parrafo">5</p>

            </div>
                
        </article>

    </div>

    <article class="col-2 col3">

        <div>
            <button class="boton" data-toggle="modal" data-target="#modalModificar">Cancelar</button>
        </div>

        <app-modal [mensajeModal]="clienteCola"></app-modal>

    </article>

</section>

</div>