<div class="global">
    <div *ngIf="empresasCola.length>0 else sinColas">
        <section class="container" *ngFor="let empresa of empresasCola let i=index">    

            <article class="col-2 col1">

                <div class="logo-albert"> 
                    <img class="img" src="{{empresa.logo}}" alt="img">
                </div>
            
            </article>

            <div class="sobreFoto">
            
                <h2 class="nombre">{{empresa.nombre_empresa}}</h2>

            </div>
        
            <div class="centro">

                <article class="col-3 col2"> 
                    <div class="fila">
                    
                        <i class="fa fa-hourglass-half tiempo" aria-hidden="true"> min</i>
                    
                    </div>  

                    <div class="fila">                    
                    
                        <p class="parrafo">{{empresa.tiempo_espera}}</p>
                    
                    </div>

                </article>


            
                <article class="col-3 col2"> 
                
                    <div class="fila" >                    
                        <i class="fa fa-ticket-alt tiempo" aria-hidden="true"></i>
                    
                    </div>   

                    <div class="fila">                    
                    
                        <p class="parrafo">{{empresa.id_turno}}</p>
                    
                    </div>

                </article>
            
            </div>
        
            <article class="col-2 col3">
            
                <div>
                    <button class="boton" data-toggle="modal" data-target="#modalModificar" (click)="botonCancelar(i)">Cancelar</button>
                </div>
                <app-modal [mensajeModal]="clienteCola" (eventoCancelarCola)="cancelarCola($event)"></app-modal>
            
            </article>
        
        </section>
    </div>  
    <!-- Caso no hay ningna cola -->
    <ng-template #sinColas>
        <section class="fraseDefecta" >    

            ¡No estás en ninguna fila actualmente!
            

        </section>
    </ng-template>



</div>