/****************************estilos***************************/

.container {
    background-color: #ffffff54;
    border-width: 15px;
    border-color: rgba(242, 241, 237, 1);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;    
    width: 790px;
    height: 150px;
    margin: 30px auto 30px auto;
    /* margin-top: 50px; */
}

@media screen and (max-width: 376px) {
    .container {
        background-color: #ffffff54;
        box-shadow: 0px 4px 8px 3px rgb(0 0 0 / 5%);
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        width: 100%;
        height: min-content;
        margin: 30px 100px auto 0px;
        /* padding-bottom: 50px; */
    }

    .global {
        padding-bottom: 80px;
    }
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

@media screen and (max-width: 376px) {
    .img {
        max-width: 350px;
        max-height: 100%;
        border-radius: 5px;
        margin-top: 6px;
    }
}

.nombre {    
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: Ellipsis;
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: #5C74F6;
}

@media screen and (max-width: 376px) {
    .nombre {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: Ellipsis;
        text-align: center;
        margin: 0;
        font-size: 20px;
        color: #5C74F6;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .col2 {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
}

.col2 {
    margin: 50px 15px 50px 15px;
}

.fila {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5%; 
}

.sobreFoto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.parrafo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5C74F6;
}

p {
    font-size: 55px !important;
}

i {
    font-size: 25px !important;
}

/* h2 {
    font-size: 20px;
    color: #5C74F6;
    width: 25%;
    height: auto;
} */

.centro {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 0%;
}

@media screen and (max-width: 376px) {

    .centro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -15%;
        margin-bottom: -25%;
        margin-left: 42px;
        /* margin-right: 10%; */
    }
    .fila {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: -5%; */
    }

    .col2{
        margin-right: 30px;
        /* margin-left: -80px; */
    }
}

.person {
    font-size: 36px;
    margin: 0px 10px;
}

.colorPerson {
    color: #5C74F6;
}

.col3 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.boton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #5C74F6;
    border-style: none;
    margin-top: 50px;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 50px;
}

@media screen and (max-width: 376px) {
    .boton {
        margin-bottom: 15px;
        width: 300px;
        height: 50px;
    }
}

/*******boton 2 del modal***********/
/* .boton2 {
    background-color: rgba(0, 0, 0, 1);
    border-style: none;
    margin: auto 20px;
    border-radius: 10px;
    color: white;
    width: 250px;
    margin-bottom: 10px;
} */
/***************************************/

.tiempo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    color: #5C74F6;
}

.tiempoT {
    margin-top:15px;
    font-size:15px;
}

@media screen and (max-width: 376px) {
    .tiempo {
        margin: 10px 15px;
    }
    .tiempoT {
        margin-top: 5%;
    }
}

.parrafo {
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
}

.parrafoP {
    margin-bottom: 5px;
    /* margin: 5px; */
    font-weight: bold;
    font-size: 25px;
}

@media screen and (max-width: 376px) {
    .parrafo {
        margin-top: -2px;
        display: flex;
        font-size: 20px;
        color: #5C74F6;
    }

    .parrafoP {
        display: flex;
        font-size: 20px;
        color: #5C74F6;
        margin-top: 19px;
    }
}

.fraseDefecta{
    text-align: center;
    font-family: Titillium Web;
    font-weight: bolder;
    font-size: 2rem;
    opacity: 0.5;
    margin-top: 10%;
  }