h5  {
    margin-top: 20px;
}

.container {
    background-color: rgba(236, 239, 241, 1);
    border-width: 15px;
    border-color: rgba(242, 241, 237, 1);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    display: flex;    
    width: 790px;
    height: 150px;
    margin: 30px auto 30px auto;
    /* margin-top: 50px; */
}

.containerResponsive    {
    display:none;
}

.logo   {
    margin-left:-14px;
    width:100px;
    height:auto;
    background-image:url("../../../assets/bk.png");
   	background-repeat:no-repeat;
   	background-size:80% 100%;
    border-radius:5px;
}

.ticket {
    margin-top:-10px;
    width:100px;
    height:100px;
    background-image:url("../../../assets/ticket.jpg");
   	background-repeat:no-repeat;
   	background-size:100% 100%;
    border-radius:5px;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.reloj  {
    margin-top:0;
    width:100px;
    height:100px;
    background-image:url("../../../assets/reloj2.png");
   	background-repeat:no-repeat;
   	background-size:100% 80%;
    border-radius:5px;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.minutos    {
    margin-top:-22px;
}

.boton  {
    position:absolute;
    left:20px;
    top:70px;
}

.starbucks  {
    margin-left:-14px;
    width:100px;
    height:auto;
    background-image:url("../../../assets/starbucks.png");
   	background-repeat:no-repeat;
   	background-size:80% 100%;
    border-radius:5px;
}

.boton {
    background-color: #5C74F6;
    border-style: none;
    margin: auto 10px;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 50px;
}

.modal  {
    margin-top:10%;
}

@media screen and (max-width: 415px)    {
    .container  {
        display:none;
    }

    .containerResponsive    {
        display:block;
        background-color: rgba(236, 239, 241, 1);
        border-width: 15px;
        border-color: rgba(242, 241, 237, 1);
        border-radius: 10px;
        box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
        display: flex;    
        width:280px;
        height: 150px;
        margin: 30px auto 30px auto;
    }

    h5  {
        margin-top:20px;
        font-size:11px;
        margin-left:12px;
    }

    .logo   {
        margin-top:5px;
        margin-left:3px;
        background-size:90% 60%;
    }

    .starbucks   {
        margin-top:5px;
        margin-left:3px;
        background-size:90% 60%;
    }

    .ticket {
        width:60px;
        height:60%;
        margin-left:-10px;
    }

    .reloj  {
        width:60px;
        height:60%;
        margin-left:-5px;
    }

    .boton  {
        position:sticky;
        width:85px;
        height:35px;
        margin-top:95%;
        margin-left:14px;
    }

    .modal  {
        margin-top:60%;
    }
}

