<ng-container *ngFor="let opinionParaEmpresa of opinionesParaEmpresa">
    <app-empresa-opiniones [opinionHijo]="opinionParaEmpresa" [isEmpresa]="true" [isCliente]="false"></app-empresa-opiniones>
</ng-container>


<!--
<div class="main">

<ng-container *ngFor="let opinion of opiniones">
    <div class="global one">

        <div class="conteiner">

            <div class="group">

                <div class="container">
                    <div class="div-img">
                        <img class="img" src="{{opinion.imagen_url}}" title="cliente" alt="Foto10">
                        <div class="text">{{opinion.nombre_cliente}}</div>
                    </div>
                </div>

                <div class="comment">
                    <p class="comment-user">{{opinion.opinion}}</p>
                </div>

                <div class="stars">
                    <div class="valoracion">
                        <app-nota [nota]="opinion.nota"></app-nota>
                        <p class="fechaDeOpinion">{{opinion.fecha}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="global two">

        <div class="group">

            <div class="user">

                <div class="pic-profile">
                    <img class="img" src="{{opinion.imagen_url}}" alt="foto de cliente">
                </div>
          
                <div class="stars">
                    <div class="valoracion">
                        <p class="user-name"> {{opinion.nombre_cliente}} </p>
                    <app-nota [nota]="opinion.nota"></app-nota>
                        <p class="fechaDeOpinion">{{opinion.fecha}}</p>
                    </div>
                </div>
            </div>
        
            <div class="comment">

                <p class="comment-user">{{opinion.opinion}}</p>
            </div>

        </div>
    </div>

</ng-container>
</div>

-->