.global{
    margin-top: 20px;
    margin-left: 12%;
    margin-right: 12%;
}

@media screen and (max-width: 475px){

    .global{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }
}