*{
    margin: 0;
}

/* .global{
    display:flex;
    flex-direction: column; 
    max-width: min(1200px, calc(100vw - 40px));
    min-width: min(1200px, calc(100vw - 40px));
} */

.cuadros{
    background-color: #5C74F6;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.cuadros:hover{
    transform: scaleX(1.05);
    border: 2px solid transparent;

}

.cuadros-texto{
    font-size: 20px;
    color: white;
    
}

.ruben-semi-header{
    margin-left: 80px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;

}

.ruben-label{
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
}

.ruben-input{
    width: 150px;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin-right: 8px;
}

.boton-modificar{
    background-color: #5C74F6;
    border-radius: 5px;
    color:#fff;
    border: none;
    padding: 8px;
}


.ruben-row{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.ruben-col{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.ruben-header{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 30px;
    width: 1110px;
    
}

.ruben-formulario{
    display:flex; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;
    margin-right: 130px;
    margin-left: -30px;
}

.boton-avanzar-cola{
    background-color: #5C74F6;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    color:#fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 50px;
    height: 60px;
    font-size: 20px;
}

.contenedor-cola{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
    margin-right: 60px;
    /* height: 305px; */
    max-height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenedor-cliente{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    max-height: 310px;
}

.contenedor-2{
    margin-top: 30px;
    
}

.ruben-col2{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.ruben-row2{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.foto{
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
    
}

.imagen{
    display: flex;
    height: 100%;
    width: 220px;
    
}


.global{
    margin-top: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

.ticket {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C74F6;
    color: white;
    font-weight: bold;
    position: relative;
    animation: mymove 6s infinite;
    margin-left: -650px;
    margin-top: 30px;
    
}
  
.ticket {animation-timing-function: linear;}
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 730px;}
}

@media screen and (max-width:390px){

    .global{
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    .contenedor-cola{
        max-height:initial;
        overflow-y:initial;
        overflow-x: initial;
        margin-bottom: 20px;
    }
    
    .ruben-col{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 374px;
    }

    .contenedor-cliente{
        display: none;
    }

    .ruben-row{
        width: 374px;
    }
    .ruben-row2{
        width: 374px;
    }
    
    .ruben-header{
        padding: 10px;
        width: 300px;
        margin-left: 35px;
    }

    .ruben-formulario{
        padding: 10px;
        width: 310px;
        margin-left: 0px;
        margin-right: initial;
    
    }

    .ruben-input{
        width: 50px;
    }

    .ruben-label{
        margin-right: 5px;
        font-size: 15px;
    }

    .ruben-avanzar-cola{
        margin-top: 20px;
        margin-left: 120px;
    }

    .contenedor-cola{
        margin-left: 38px;
        width: 300px;
        margin-right: 0px;
    }
    
    .contenedor-2{
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .boton-avanzar-cola{
        margin-left:-105px;
        height: 60px;
        margin-bottom: 0px;
    }
    
    .ruben-row3{
        display:none;
    }
}

