*{
    margin: 0;
}

/* .global{
    display:flex;
    flex-direction: column; 
    max-width: min(1200px, calc(100vw - 40px));
    min-width: min(1200px, calc(100vw - 40px));
} */
.circulo{
    color: rgb(3, 255, 3);;
}

.circulo2{
    color: red;
}

.circulo3{
    color: rgb(243, 243, 0);
}

.separador{
    height: 50px;
    border:0.1px solid rgb(233, 233, 233);
    margin-left: 15px;
}

.cuadros{
    background-color: #5C74F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 5px;
    border: 2px solid transparent;
    color: white;
    height: 50px;
}

.cuadros:hover{
    transform: scaleX(1.05);
    border: 2px solid #3d50b9;

}

.cuadros-texto{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.ruben-semi-header{
    margin-left: 80px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;

}

.ruben-label{
    text-align: center;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 8px;
}

.ruben-input{
    width: 170px;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin-right: 8px;
}

.boton-modificar{
    background-color: #5C74F6;
    border-radius: 5px;
    color:#fff;
    border: none;
    padding: 5px 7px 5px 7px;
}


.ruben-row{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.ruben-col{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.ruben-header{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 30px;
    width: 1110px;
    
}

.ruben-formulario{
    display:flex; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;
    width: 676px;
    margin-left: 5px;
}

.boton-avanzar-cola{
    /* background-color: #5C74F6;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    color:#fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 50px;
    height: 60px;
    font-size: 20px; */
    background-color: #5C74F6;
    border-radius: 5px;
    color:#fff;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-left: 15px;
    margin-top: 3px;
    
}

.contenedor-cola{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    margin-right: 20px;
    max-height: 310px;
    min-height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenedor-cliente{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    width: 250px;
    box-sizing: border-box;
    max-height: 310px;
    min-height: 310px;
}

.contenedor-2{
    margin-top: 30px;
    
}

.ruben-col2{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.ruben-row2{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.foto3{
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    max-width: 120px;
    min-width: 120px;
    max-height: 120px;
    min-height: 120px;
    justify-content: center;
    align-items: center;   
    border: solid rgb(243, 243, 0);
    padding: 50px;
}

.foto{
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    max-width: 120px;
    min-width: 120px;
    max-height: 120px;
    min-height: 120px;
    justify-content: center;
    align-items: center;   
    border: solid rgb(3, 255, 3);
    padding: 50px;
}

.foto2{
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    max-width: 120px;
    min-width: 120px;
    max-height: 120px;
    min-height: 120px;
    justify-content: center;
    align-items: center;   
    border: solid rgb(255, 0, 0);
    padding: 50px;
}

.imagen{
    margin-left: 60px;
    height: 100%;
    width: auto;
    max-height: 120px;
    
}


.global{
    margin-top: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

.ticket {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C74F6;
    color: white;
    font-weight: bold;
    position: relative;
    animation: mymove 2.5s;
    margin-left: 30px;
    margin-top: 30px;
    
}

.responsive-movil{
    display: none;
}
  
.ticket {animation-timing-function: linear;}
  
  @keyframes mymove {
    from {left: -200px;}
    to {left: 0px;}
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}


@media screen and (max-width:390px){

    *{

    }
    
    .prueba{
        display:none;
    }

    .responsive-movil{
        display: contents;
    }

    .contenedor-cliente{
        display: none;
    }

    .ticket{
        display: none;
    }

    .global{
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .ruben-row{
        width: 374px;
    }

    .separador{
        display: none;
    }

    .ruben-label{
        margin-right: 5px;
        font-size: 15px;
    }

    .ruben-formulario{
        width: 300px;
        padding: 10px;
        padding-top: 0px;
        max-height: 140px;
        min-height: 130px;
        margin-left: 8px;
    }

    .boton-avanzar-cola{
        margin-left:-105px;
        height: 60px;
        margin-bottom: 0px;
        margin-top: 0px;
        border-radius: 5px;
        color:#fff;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height: 35px;
        width: 260px;
    }

    .ruben-avanzar-cola{
        margin-top: -70px;
        margin-left: 105px;
        margin-bottom: -50px;
    }

    .ruben-input{
        width: 50px;
        font-size: 14px;
    }

    .contenedor-2{
        margin-top: 80px;
        margin-left: 65px;
        
    }

    .boton-modificar{
        background-color: #5C74F6;
        border-radius: 5px;
        color:#fff;
        border: none;
        padding: 6px 7px 6px 7px;
    }
    
    /* 

    .contenedor-cola{
        max-height:initial;
        overflow-y:initial;
        overflow-x: initial;
        margin-bottom: 20px;
    }
    
    .ruben-col{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 374px;
    }

    .contenedor-cliente{
        display: none;
    }

    .ruben-row{
        width: 374px;
    }
    .ruben-row2{
        width: 374px;
    }
    
    .ruben-header{
        padding: 10px;
        width: 300px;
        margin-left: 35px;
    }

    .ruben-formulario{
        padding: 10px;
        width: 310px;
        margin-left: 0px;
        margin-right: initial;
    
    }

    .ruben-input{
        width: 50px;
    }

    .ruben-label{
        margin-right: 5px;
        font-size: 15px;
    }

    .ruben-avanzar-cola{
        margin-top: 20px;
        margin-left: 120px;
    }

    .contenedor-cola{
        margin-left: 38px;
        width: 300px;
        margin-right: 0px;
    }
    
    .contenedor-2{
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .boton-avanzar-cola{
        margin-left:-105px;
        height: 60px;
        margin-bottom: 0px;
    }
    
    .ruben-row3{
        display:none;
    } */

    /* AQUIIIIIIIIIIIII */
    /* .contenedor-cola{
        max-height:initial;
        overflow-y:initial;
        overflow-x: initial;
        margin-bottom: 20px;
    }
    
    .ruben-col{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 374px;
    }

    .ruben-row{
        width: 374px;
    }
    .ruben-row2{
        width: 374px;
    }
    
    

    

    .contenedor-cola{
        margin-left: 38px;
        width: 300px;
        margin-right: 0px;
    }
    
    .contenedor-2{
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .boton-avanzar-cola{
        margin-left:-105px;
        height: 60px;
        margin-bottom: 0px;
    }
    
    .boton-detener-cola{
        margin-left:-105px;
        height: 60px;
        margin-bottom: 0px;
    }

    .responsive-web{
        display: none;
    }
    
    .responsive-movil{
        display: initial;
        margin-top: 0px;
        margin-left: 60px;
    }

    .texto-cuadro2{
        font-size: 20px; 
        color: white;
    }
    
    .cuadros-texto{
        font-size:20px;
        color: #5C74F6;
        
    }

    .cuadros{
        height: 100px;
        width: 260px;
        background-color: white;
        border: solid #5C74F6;
    }

    .cuadros:hover{
        transform: none;
        background-color: white;
    }
    .numero{
        font-size: 35px;
        color: #5C74F6;
        font-weight: bold;
    }

    .boton-avanzar-cola{
        margin-top: 15px;
        border-radius: 5px;
        color:#fff;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height: 35px;
    }

    .boton-detener-cola{
        margin-top: 15px;
        border-radius: 5px;
        color:#fff;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height: 35px;
    } */
}

