<div class="global">
    <div class="ruben-col">
        <div class="ruben-row">
            <form class="ruben-formulario"> 
                <label for="fname" class="ruben-label" >Tiempo de espera:</label>
                <input class="ruben-input" placeholder="&nbsp; &nbsp;&nbsp;20 min/per" type="text" id="user" style="text-align: center;">
                <!-- Boton modal modificar -->
                <button type="button" class="boton-modificar" data-toggle="modal" data-target="#modalModificarCola">
                    Modificar
                </button>
                <!-- Modal boton modificar-->
                <app-modal [mensajeModal]='mensajeModalCola'></app-modal> 
            </form>
            <div class="ruben-avanzar-cola">
                <button type="button"  class="boton-avanzar-cola" data-toggle="modal" data-target="#modalAvanzar">
                    Avanzar Cola
                </button>
                <!-- Modal boton Avanzar Cola -->
                <app-modal [mensajeModal]='mensajeModalAvanzar'></app-modal> 
            </div>
        </div>
        
        <div class="ruben-row3 ticket" > <i class="fas fa-ticket-alt"></i>&nbsp;&nbsp;<p> Proximo Cliente: RUBEN RIVAS</p> </div>

        <div class="ruben-row2 contenedor-2" >
            
                <div class="ruben-col contenedor-cola">
                    <div class="cuadros" (click)="mostrarUsuario('usuario1')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  Eva123</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario2')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  Javi0001</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario3')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  13David13</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario4')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  estefaniacucea</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario5')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  KehomaxD</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario6')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  rubenrivas</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario5')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  KehomaxD</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario6')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  rubenrivas</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario5')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  KehomaxD</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario6')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  rubenrivas</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario5')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  KehomaxD</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario6')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  rubenrivas</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario6')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  rubenrivas</p>
                    </div>
                    <div class="cuadros" (click)="mostrarUsuario('usuario6')">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i>  rubenrivas</p>
                    </div>
                    
                </div>
            
                <div class="ruben-col contenedor-cliente"> 
                    <div class="foto">
                                <img class="imagen" src=" https://vocegestor.com/wp-content/uploads/2017/11/apontamento-de-despesas-a-importancia-de-uma-ferramenta-para-o-cliente-1.jpeg">
                    </div>
                    <div class="col2">
                    <p>Usuario: {{infoUsuario}}</p>
                    <p>Nombre: Ruben</p>
                    <p>Apellido: Rivas</p>
                    <p>Telefono: 623184811</p>
                    </div>
                </div>
            
        </div>
    </div>
</div>

