*{
    margin: 0;
}

/* .global{
    display:flex;
    flex-direction: column; 
    max-width: min(1200px, calc(100vw - 40px));
    min-width: min(1200px, calc(100vw - 40px));
} */

.cuadros{
    background-color: #5C74F6;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.cuadros:hover{
    transform: scale(1.02);
    border: 2px solid transparent;

}

.cuadros-texto{
    font-size: 20px;
    color: white;
    
}

.ruben-semi-header{
    margin-left: 80px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;

}

.ruben-label{
    text-align: center;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 8px;
    
}

.ruben-input{
    width: 170px;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin-right: 8px;
}

.boton-modificar{
    background-color: #5C74F6;
    border-radius: 20px;
    margin: 5px 0px 0px 0px;
    color:#fff;
    border: none;
}


.ruben-row{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.ruben-col{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.ruben-header{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 30px;
    width: 1110px;
    
}

.ruben-formulario{
    display:flex; 
    flex-direction:row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;
    margin-right: 30px;
}

.boton-avanzar-cola{
    background-color: #5C74F6;
    margin: 5px 0px 0px 0px;
    color:#fff;
    border: none;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 50px;
    height: 60px;
    font-family:Titillium Web;
    font-weight: bold;
    font-size: 20px;
}

.contenedor-cola{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 100px;
    /* height: 305px; */
    max-height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenedor-cliente{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.contenedor-2{
    margin-top: 40px;
    
}

.ruben-col2{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.ruben-row2{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.foto{
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}

.imagen{
    display: flex;
    width: 200px;
    height: 100%;
}



@media screen and (max-width:390px){
    *{
        border: solid black;
    }
    .ruben-col{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 374px;
    }

    .contenedor-cliente{
        display: none;
    }

    .ruben-row2{
        width: 374px;
    }
    
    .ruben-header{
        padding: 10px;
        width: 300px;
        margin-left: 35px;
    }

    h1{
        font-size: 30px;
    }

    .ruben-formulario{
        display:flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 300px;
        margin-left: 35px;
    }

    .ruben-input{
        margin-bottom: 5px;
    }

    .ruben-avanzar-cola{
        margin-top: 20px;
        margin-left: 10px;
    }

    .contenedor-cola{
        margin-left: 38px;
        width: 300px;
        margin-right: 0px;
    }
    
    .contenedor-2{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    
}

