<div class="global">
    <div class="ruben-col">
        <div class="ruben-row ruben-formulario">
            <form class="ruben-formulario2"> 
                <label for="fname" class="ruben-label" >Tiempo de espera:</label>
                <input class="ruben-input" placeholder="{{datosEmpresa[0]?.tiempo_espera}}minutos/persona" type="text" id="user" style="text-align: center;" #inputLeido> 
                <!-- Boton modal modificar -->
                <button type="reset" class="boton-modificar" data-toggle="modal" data-target="#modalModificarCola" (click)=mostrarInput(inputLeido.value)>
                    Modificar
                </button>
                <!-- Modal boton modificar-->
                <app-modal [mensajeModal]='mensajeModalCola' (eventoModificarTiempo)=modificarTiempo($event)></app-modal> 
            </form>
            <div class="separador"></div>
            <div class="ruben-avanzar-cola" *ngIf="clienteActual.length!=0 else botonDisable">
                <button type="button"  class="boton-avanzar-cola" data-toggle="modal" data-target="#modalAvanzar">
                    Apuntar Strike
                </button>
                <!-- Modal boton Avanzar Cola -->
                <app-modal [mensajeModal]='mensajeModalAvanzar' (eventoAvanzarCola)="botonAvanzarCola($event)"></app-modal> 
            </div>
            <ng-template #botonDisable>
                <div class="ruben-avanzar-cola">
                    <button type="button" disabled class="boton-avanzar-cola" data-toggle="modal" data-target="#modalAvanzar" style="background-color: rgba(238, 26, 26, 0.692);">
                        Apuntar Strike
                    </button>
                </div>
            </ng-template>
        </div>
        
        <div *ngIf="clienteActual.length!=0">
        <div class="ruben-row3 ticket" > <i class="fas fa-ticket-alt"></i>&nbsp;&nbsp;<p> Cliente Actual: {{clienteActual[0]?.nombre_cliente[0]}}. {{clienteActual[0]?.apellidos_cliente}}</p> </div>
        </div>
        <div *ngIf="clienteActual.length==0">
            <div class="ruben-row3 ticket" > <i class="fas fa-ticket-alt"></i>&nbsp;&nbsp;<p> Sin cliente en estos momentos</p> </div>
        </div>


        <div class="ruben-row2 contenedor-2" >
                <!-- parte web -->
                <div class="ruben-col contenedor-cola prueba" *ngIf="clientesEnCola.length!=0; else sinClientes">
                    <div class="cuadros" *ngFor="let cliente of clientesEnCola let i=index" (click)="mostrarUsuario(i)">
                        <p class="cuadros-texto"><i class="fas fa-walking"></i> {{clientesEnCola[i].nombre_cliente[0]}}. {{clientesEnCola[i].apellidos_cliente}}</p>
                    </div>
                </div>
                <ng-template #sinClientes>
                    <div class="ruben-col contenedor-cola prueba">
                        <div class="cuadros" >
                        <p class="cuadros-texto"> Sin clientes en cola</p>
                        </div>
                    </div>
                </ng-template>

                <!-- Parte movil -->
                <div class="ruben-col contenedor-cola responsive-movil">
                    <hr style="margin-top: -50px; border:0.01px solid rgba(2, 2, 2, 0.13); width: 100%; margin-left: -26px;">
                    <div *ngIf="clientesEnCola.length!=0; else sinClientesMovil" style="margin-top: -25px; margin-bottom: 80px;">
                    <div class="card" style="width: 300px;  text-align: center; border: solid #5C74F6; border-radius: 5px; margin-left: -58px; margin-bottom: 7px;" *ngFor="let cliente of clientesEnCola let i=index" (click)="mostrarUsuario(i)">
                        <h5 class="card-header" style="background-color: white;" >
                            <a class="collapsed d-block" style="text-decoration: none; color:#5C74F6 ; "data-toggle="collapse" href="#collapse-collapsed{{i}}" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed">
                                {{cliente.nombre_cliente[0]}}. {{cliente.apellidos_cliente}}
                            </a>
                        </h5>
                        <div id="collapse-collapsed{{i}}" class="collapse" aria-labelledby="heading-collapsed" style="background-color: rgba(0,0,0,.03)">
                            <div class="card-body" style="margin-top: -10px;;">
                                <p style="color: black; font-size: 20px; font-weight: bold; ">Ticket {{cliente.id_turno}}</p>
                                <p style="color: black; font-size: 17px; ">Nombre: {{cliente.nombre_cliente}}</p>
                                <p style="color: black; font-size: 17px; ">Apellido: {{cliente.apellidos_cliente}}</p>
                                <p style="color: black; font-size: 17px; ">Telefono: {{cliente.telefono}}</p>
                                <div>   
                                    <p >Fama: <i class="fad fa-circle" [ngClass]="{circulo2: cliente.karma=='red', circulo3: cliente.karma=='yellow', circulo: !cliente.karma || cliente.karma=='green'}"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Movil caso cuando no hay clientes -->
                <ng-template #sinClientesMovil>
                    <div style="margin-top: -25px; margin-bottom: 80px;">
                        <div class="card" style=" width: 300px; text-align: center; border: solid #5C74F6;  border-radius: 5px; margin-left: -58px; margin-bottom: 7px;">
                            <h5 class="card-header">
                                <a class="collapsed d-block" style="text-decoration: none; color:#5C74F6 ;"data-toggle="collapse" href="#collapse-collapsed2" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed">
                                    Sin clientes
                                    
                                </a>
                            </h5>
                        </div>
                    </div>
                </ng-template>
            
                <!-- Web tarjeta cliente -->
                <div class="ruben-col contenedor-cliente" >  
                    <div [ngClass]="{foto2: karma=='red', foto3: karma=='yellow', foto: !karma || karma=='green'}">
                                <img class="imagen" src=" https://vocegestor.com/wp-content/uploads/2017/11/apontamento-de-despesas-a-importancia-de-uma-ferramenta-para-o-cliente-1.jpeg">
                    </div>
                    <div class="col2">
                    
                    <p>Nombre: {{clienteVisto.nombre_cliente}}</p>
                    <p>Apellido: {{clienteVisto.apellidos_cliente}}</p>
                    <p >Telefono: {{clienteVisto.telefono}}</p>
                    <h2 style="font-weight:bold;"><i class="fas fa-ticket-alt"></i> {{clienteVisto.id_turno}}</h2>
                    
                    </div>
            
                </div>
        </div>
    </div>
</div>    

