
<!-- Web -->
<div class="container" style="margin-top: 30px;">
    <div class="col titulo" ><h1>Proximos clientes</h1></div>
    <div class="row" >
        <!-- Cuadro izquierda -->
        <div class="col">
            <div class="col izq">
                <div class="cuadros">
                    <p class="cuadros-texto">Usuario1</p>
                </div>
                <div class="cuadros">
                    <p class="cuadros-texto">Usuario2</p>
                </div>
                <div class="cuadros">
                    <p class="cuadros-texto">usuario4</p>
                </div>
                <div class="cuadros">
                    <p class="cuadros-texto">usuario5</p>
                </div>
                <div class="cuadros">
                    <p class="cuadros-texto">usuario6</p>
                </div>
                <div class="cuadros">
                    <p class="cuadros-texto">usuario7</p>
                </div>
                <div class="cuadros">
                    <p class="cuadros-texto">usuario8</p>
                </div>

            </div>
        </div>

        <!-- Cuadro derecha -->
        <div class="col der vistaMovil" >
            <!-- Derecha 1 -->
            <div class="col izq">
                <form class="formulario"> 
                    <label for="fname" class="texto-input" >Tiempo de espera por cliente</label>
                    <input class="texto-input" placeholder="20 minutos/persona" type="text" id="user" style="text-align: center;">
                    <!-- Boton modal modificar -->
                    <button type="button" class=" boton1 btn btn-primary carrito" data-toggle="modal" data-target="#modalModificarCola">
                        Modificar
                    </button>
                    <!-- Modal boton modificar-->
                    <app-modal [mensajeModal]='mensajeModalCola'></app-modal> 
                    
                </form>
            </div>

            <!-- Derecha 2 -->
            <div class="col der2" style="margin-bottom: 50px;">
                <!-- Botono modal Avanzar Cola -->
                <div class="col der2" >
                    <button type="button"  class=" boton2 btn btn-primary carrito" data-toggle="modal" data-target="#modalAvanzar">
                        Avanzar Cola
                    </button>
                    <!-- Modal boton Avanzar Cola -->
                    <app-modal [mensajeModal]='mensajeModalAvanzar'></app-modal> 
                </div>
            </div>
        </div>

    </div>  
</div>

