<div class="modal fade ruben" id="{{mensajeModal[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="desplegable">
        <p style="text-align: center; font-size: 20px;"> {{mensajeModal[1]}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary " (click)="modificar(mensajeModal[4])"
          data-dismiss="modal">{{mensajeModal[2]}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{mensajeModal[3]}}</button>
      </div>
    </div>
  </div>
</div>

