<div class="main">

    <div class="botones">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary comentarColor"
                [ngClass]="{comentarColor: comentarAzul}" (click)="comentarCampo()">Comentar</button>
            <button type="button" class="btn btn-outline-primary comentariosColor"
                [ngClass]="{comentariosColor: !comentarAzul}" (click)="comentariosCampo()"
                (click)="opinionesClienteSobreEmpresa()">Mis
                comentarios</button>
        </div>
    </div>

    <!--campo de resenar-->
    <ng-container *ngIf="comentar">
        <p class="fraseDefecta" *ngIf="locales.length===0">
            ¡ Aún no tienes locales disponibles para comentar !
        </p>

        <div class="container">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
                <ng-container *ngFor="let local of locales">
                    <div class="col">
                        <div class="card">
                            <img src="{{local.imagen_url}}" class="card-img-top" alt="" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                            <div class="card-body">
                                <div clase="carde-title-color ">
                                    <h4 class="card-title">{{local.nombre_empresa}}</h4>
                                </div>
                                <p class="card-text">Tiempo Aprox:{{local.tiempo_espera}} Mins</p>

                                <div>
                                    <button type="button" class="btn btn-primary botonResena" data-toggle="modal"
                                        (click)="comentarLocal(local)"
                                        data-target="#resenaModal">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary " data-toggle="modal"
                                        (click)="dejarOpinar(local)"
                                        data-target="#quitarResenaModal">
                                        <i class="far fa-window-close"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

    </ng-container>

    <!--modal de dar una resena-->
    <div class="modal fade" id="resenaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deja tu reseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body" id="desplegable">
                        <div class="input-group">
                            <div class="valoracion" (input)=handleStar($event)>
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">★</label>
                            </div>
                            <div>
                                <textarea class="form-control" aria-label="With textarea" name="texto"
                                    #textoOpinion></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                            data-target="#enviarModal" (click)="crearComentario(textoOpinion.value)">
                            <i class="far fa-edit"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!--modal de dejar opinar-->
    <div class="modal fade" id="quitarResenaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="desplegable">
                    <h5 class="modal-title">¿Deseas eliminar este local?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="rechazarOpinion()"
                        data-toggle="modal" data-target="#enviarModal">Sí</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!--campo de resenado-->

    <div class="tarjetax-comentarios">

        <ng-container *ngIf="comentarios">
            <ng-container *ngFor="let opinion of opiniones">
                <app-empresa-opiniones [opinionHijo]="opinion" [isEmpresa]="false"></app-empresa-opiniones>
            </ng-container>
        </ng-container>

    </div>



</div>
