.main {
  margin-top: 120px;
  margin-bottom: 160px;
}
.tarjetax-comentarios{
  padding-bottom: 80px;
}
.col {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  background-color: #f2f1ed;
  width: 310px;
  height: 340px;
  margin-top: 3rem;
}

.card-img-top {
  /* cursor: pointer; */
  width: 100%;
  height: 200px;
}

.card-title {
  width: 100%;
  height: 40px;
  background-color: rgba(75, 74, 74, 0.4);
  font-family: Abril Fatface;
  font-size: 30px;
  position: absolute;
  top: 160px;
  color: white;
  left: 0%;
  text-align: center;
}

.card-text {
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  top: 225px;
  margin-left: 5%;
}

.botonResena {
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  top: 280px;
  width: 110px;
  margin-left: 3%;
}

.botonEviar {
  width: 90px;
}

.btn-secondary {
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  top: 280px;
  width: 110px;
  margin-left: 50%;
}
.btn-primary{
  width: 110px;
}
.btn-info{
   width: 110px;
}

.input-group{
  height: 150px;
  text-align: center;
}
/*texto*/
.form-control{
  position: absolute;
  height:100px;
  top:55px
}
/* la estrella*/
.valoracion {
  position: absolute;
  top: 0px;
  left: -17px;
  overflow: hidden;
  display: inline-block;
  margin-left: 5%;
}
.valoracion input {
  cursor: pointer;
  position: absolute;
  top: -100px;
}
.valoracion label {
  cursor: pointer;
  float: right;
  color: #c1b8b8;
  font-size: 30px;
}
.valoracion label:hover,
.valoracion label:hover ~ label{
  color:rgb(253, 200, 101)
}

.valoracion input:checked ~ label {
  color: rgb(236, 194, 6);
}

.fa-heart {
  cursor: pointer;
  position: absolute;
  top: 285px;
  margin-left: 68%;
}
.corazonGris {
  font-size: 35px;
  color: #c1b8b8;
}
.corazonRed {
  font-size: 35px;
  color: rgb(216, 8, 42);
}

#resenaModal {
  margin-top: 15%;
  font-family: Titillium Web;
  font-size: large;
}
#quitarResenaModal {
  margin-top: 15%;
  font-family: Titillium Web;
  font-size: large;
}

/* boton principal*/
.botones {
  align-content: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
}

.btn-outline-primary {
  height: 60px;
  width: 155px;
  font-family: Titillium Web;
  font-size: 18px;
  font-weight: bolder;
  background-color: white;
  color: #5c74f6;
}

.comentarColor {
  background-color: #5c74f6;
  color: white;
}

.comentariosColor {
  background-color: #5c74f6;
  color: white;
}

.fraseDefecta{
  text-align: center;
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 2rem;
  opacity: 0.5;
  margin-top: 12%;
}

@media screen and (max-width: 376px) {
  .card {
    margin-bottom: 5px;
    align-content: center;
  }
  #resenaModal {
    margin-top: 60%;
  }
  .clienteResenado {
    font-family: Titillium Web;
    font-weight: bolder;
  }
  #quitarResenaModal {
    margin-top: 90%;
  }
  .row {
    margin-top: 10px;
    padding-bottom: 50px;
  }
  .botones {
    align-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .btn-outline-primary {
    height: 60px;
    width: 155px;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: bolder;
  }

  .fraseDefecta{
  text-align: center;
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 1rem;
  opacity: 0.5;
  margin-top: 30%;
}
}

.row {
  justify-content: center;
  padding-bottom: 55px;
}


