*{
    font-family: Titillium Web;
    font-weight: 900;
}

.foto{
    /* border-style: solid; */
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    
}

.imagen{
    display: flex;
    width: 200px;
    height: 190px;
    margin-bottom: -15px;
}

.body-perfil{
    margin: 1%;
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.pic-perfil{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    /* border-style: solid; */
}

.caja{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* border-style: solid; */
    width: 80%;
    height: 20%;
    /* margin-bottom: 20%; */
    background-color: #faf8f875;
}

.familia-input{
    text-align: center;
    font-size: 100%;
    margin: 5% auto;
    /* border-style: solid; */
    width: 20%;
    height: 80%;
}

input{
    /* border-style: solid; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 200%;
    margin-top: 10%;
    margin-left: -50%;
    background-color: #d4d1d1a1;
    height: 10%;
    border-style: none;
    border-radius: 3px;
}

.areaBoton{
    font-size: 100%;
    /* border-style: solid; */
    margin: 10%;
    height: 10%;

}
button{
    background-color: #6c5ce7;
    color: white;
    width: 200%;
    height: 120%;
    margin-left: -50%;
    border-radius: 20px;
    border: none;
}

@media screen and (max-width: 475px){

    .familia-input{
        width: 50%
    }

    input{
        margin-top: 5%;
        margin-bottom: 10%;
    }    
}