<!-- @kehomaxd -->

<!-- Pag -->

<div class="global">

<!-- Titulo de pagina -->
    <div class="col titulo" ><h1>Perfil</h1></div>

<!-- photo perfil -->

    <div class="pic-perfil">
        
        <div class="foto">
                    <img class="imagen" src=" https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
        </div>
        
    </div>

    <!-- Formulario y Boton-->

    <div class="body-perfil">

        <div class="caja">

            <!-- Formulario -->
            <form (input)="handelChange($event)">

                <input class="in first" type="text" name=img placeholder="Imagen">
                <input class="in" type="text" name="name" placeholder="Nombre" >
                <input class="in" type="text" name="apellidos" placeholder="Apellidos" >
                <input class="in" type="password" name="password" placeholder="Contraseña">
                <input class="in" type="password" name="repeatPassword" placeholder="Condirmar contraseña">
                <input class="in" type="text" name="phone" placeholder="numero telefonico" >
                <input class="in" type="email" name="mail" placeholder="Email">
        
            </form>

        </div>
        
    <!-- Boton -->
        <div class="areaBoton">
                <button class="bGuardar" data-toggle="modal" data-target="#modalModificar" (click)="handelClick()" type="button">Guardar</button>
        </div>

        <app-modal [mensajeModal]="guardarModal"></app-modal>

    </div>
</div>    