<div class="global">

    <div class="container">    

        <div class="contenedor-form">

            <!-- photo perfil -->

            <div class="pic-perfil">
                
                <div class="foto">
                    <img class="imagen" name=img  src="{{user.imagen_url}}" alt=" Not Found ">
                </div>
                

                <!-- Fin foto perfil -->
            
                <form class="formulario"  [formGroup]="myForm"  (input)=handleChange($event)>
                    
                    <p class="input-name" >Imagen de perfil:</p>
                    <input class="input2" type="text" name="imagen_url"  placeholder="Imagen"  alter="photo"> <br/>
                    
                    <p class="input-name" >Nombre:</p>
                    <label *ngIf='!nombre_cliente' class='input-name' style="color:red"> El campo nombre es obligatorio </label>
                    <input class="input2" type="text" name="nombre_cliente"  formControlName="nombre_cliente" placeholder="{{user.nombre_cliente}}"
                    [ngClass]="{'is-invalid' : !nombre_cliente}" on-keyup = validarUsername()> <br/>
                    
                    
                    <p class="input-name" >Apellido:</p>
                    <input class="input2" type="text" name="apellidos_cliente"  placeholder="{{user.apellidos_cliente}}"><br/>
                    
                    <p class="input-name" >Contraseña:</p>
                    <label *ngIf='nombre_cliente && telefonoValid && !passwordValid' class='input-name' style="color:red"> El password debe tener como mínimo 6 carateres </label>
                    <input class="input2" type="password" name="password"  formControlName="password" placeholder="Contraseña"
                    [ngClass]="{'is-invalid':passwordValid==false}" on-keyup = validarPassword()> <br/>
                    
                    <p class="input-name" >Confirmar contraseña:</p>
                    <label *ngIf='nombre_cliente && telefonoValid && !passwordValid' class='input-name' style="color:red"> El password debe tener como mínimo 6 carateres </label>
                    <input class="input2" type="password" name="repeatPassword" placeholder="Confirmar Contraseña"
                    [ngClass]="{'is-invalid':!validarRepeat(this.profileData.password.value, this.profileData.repeatPassword.value)}" on-keyup = "validarRepeat(this.profileData.password.value, this.profileData.repeatPassword.value)"> <br/>
                    
                    <p class="input-name" >Numero de telefono:</p>
                    <label *ngIf='nombre_cliente  && !telefonoValid' class='input-name' style="color:red"> El teléfono debe contener 9 números </label>
                    <input class="input2" type="text" name="telefono" formControlName="telefono" placeholder="{{user.telefono}}"
                    [ngClass]="{'is-invalid':!telefonoValid}" on-keyup = validarTelefono()> <br/>


                    <div class="btn-container">

                        <button class="boton" type="button" data-toggle="modal" data-target="#modalModificar" (click)=validar()>Enviar</button>
                    
                    <hr>
                    
                        <button type="button" class="exit" data-toggle="modal" data-target="#exampleModalCenter">Cerrar sesión </button>
                    </div>

                </form>    

                

            </div>

        </div> 
    </div>



    <app-modal [mensajeModal]="guardarModal" (eventoGuardarPerfil)="subirCambios($event)"></app-modal>

    <div class="modal fade ruben" tabindex="-1" role="dialog" id='exampleModalCenter' aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body" id="desplegable">
                <p style="text-align: center; font-size: 20px;">¿Seguro que quieres cerrar sesión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" on-click='cerrarSesion()'>Cerrar sesión</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
            </div>
        </div>
    </div>
</div>