.global{
    width: 100%;
    margin-top: 100px;
    padding-bottom: 20px;   
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 50px;
}
input:focus{
    outline: none;
}
.input-name {
    font-size:80%;
    margin-bottom: 1px;
    margin-top: 10px;
}

.ruben{
    margin-top:15%;
}

/* Reponsive */
@media screen and (max-width:475px) {
    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .contenedor-form {
        display: flex;
        flex-direction: column;
        width:max-content;
    }
    .formulario{
        width: 100%;
    }
    .input-name{
        margin-top: 20px;
    }
    .input2 {
        margin-bottom: -25px;
    }

    .ruben{
        margin-top:90%;
    }

}

.contenedor-form {
    background-color: rgba(255, 255, 255, 0.479);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    margin-top: 25px;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-right: 100px; */
}

.input2{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius: 5px;
}

.btn-container{
    text-align: center;
}


.boton {
    background-color: #5C74F6;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 35px;
    font-size: auto;
    border-style: none;
}

.exit{
    justify-content: center;
    width: 500px;
    height: 30px;
    background-color: rgb(238, 26, 26);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    border-style: none;
}

@media screen and (max-width:475px) {
    
    .global{
        margin-top: 75px;
    }
    .input2{
        padding: 5px;
    }
    .btn-container{
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
    }
    .boton{
        flex-direction: row;
        background-color: #5C74F6;
        border-radius: 5px;
        color: white;
        width: 150px;
        height: 30px;
        font-size: 15px
    }    
    .exit{
        width: 350px;
    }
}

/***********************Foto perfil**********************/

.foto{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border-style: solid; */
    /* justify-content: center; */
    /* overflow: hidden; */
}

/* la imagen */
.imagen{
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

/* Circulo de la imagen */
.pic-perfil{
    /* border-style: solid; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;    
}

@media screen and (max-width:475px) {

    .foto{
        margin-left: 110px;
        width: auto;
        margin-bottom: 15px;
    }

    .imagen{
        width: 150px;
        height: 150px;
    }

    .pic-perfil{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
}