<!-- Formularion de perfil cliente -->
<!-- crear caja -->


    <div class="pic-perfil">
        
        <div class="foto">
                    <img class="imagen" src=" https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
        </div>
        
    </div>
<div class="body-perfil">
    <div class="caja">
            <!-- formulario -->
        <form class="familia-input">

            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellidos">
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Condirmar contraseña">
            <input type="text" placeholder="numero telefonico" >
            <input type="email" placeholder="Email">
        
            <div class="areaBoton">
                <button class="bGuardar" type="submit"> Guardar</button>
            </div>

        </form>

    </div>
</div>