*{
    font-family: Titillium Web;
    font-weight: 900;
}

.global{
    padding: 50px;
}

.foto{
    border-style: solid;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border-color: #009ee1;
}

.imagen{
    display: flex;
    width: 200px;
    height: 200px;
}

.body-perfil{
    /* border-style: solid; */
    flex-direction: column;
    border-color: #009ee1;
    border-radius: 10px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
}

.pic-perfil{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.caja{
    display: flex;
    /* border: solid; */
    border-width: 2px;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 5%; */
    background-color: #faf8f875;
}

.in{
    display: flex;
    margin-top: 5%;
    width: 500px;
    height: 35px;
    background-color: #ffffff;
    border-color: #009ee1;
    border-radius: 5px;
}

.areaBoton{
    text-align: center;
    margin-left: -18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bGuardar{
    background-color: #6c5ce7;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width: 475px){


    .in{
        margin-top: 5%;
        width: 250px;
        margin-bottom: 10%;
    }
    .imagen{
        width: 150px;
        height: 150px;
    }
    .bGuardar{
        width: 100px;
        margin-left: 10px;
    }
    .in{
        width: 190px;
    }    
    .body-perfil{
        margin-top: 15px;
    }
}