<div class="container rowb "  >

    <div class="colb">
        <select type="text" name="Local"  #categoria>
            <option value="">Categoría</option>
            <option value="belleza">Belleza</option>
            <option value="deporte">Deporte</option>
            <option value="hogar">Hogar</option>
            <option value="moda">Moda</option>
            <option value="ocio">Ocio</option>
            <option value="restauración">Restauración</option>
            <option value="salud">Salud</option>
        </select>
    </div>
    
    <h1 style="font-size: 25px;  color:rgba(114, 111, 97, 1);">|</h1>

    
    <div class="colb ">
        <!-- <label *ngIf='!cpValid' class='input-name' style="color:red"> El codigo postal debe contener 5 dígitos </label> -->
        <input type="text" name="Código Postal" placeholder="C. Postal" #cp>
        <!-- [ngClass]="{'is-invalid':!cpValid}" on-keyup = validarCp()>     -->
    </div>

    <div class="colb" >
        <button (click)="buscarLocal(categoria.value, cp.value)">    
            <i class="fas fa-search lupa" ></i>
        </button> 
    </div>
   
  
    

        
</div>

