.rowb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    
}

.colb{
    display: flex;
    flex-direction: column;
}
.colb2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: white;
}

.lupa{
    
    color:rgba(114, 111, 97, 1)
}

input{
    border: white;
}
.input{
    box-shadow: 2px 2px 10px 1px grey;
    background-color: rgba(255, 255, 255, 0.479);
    margin-top: 90px;
    font-family: Titillium Web
}

@media screen and (max-width:475px){
    
    .rowb{
        justify-content: center;
        width: 350px;
        
    }

    .colb2{
        margin-bottom: 20px;
    }

    input{
        border:solid rgba(128, 128, 128, 0.217);
        border-width: 1px;
    }

    .colb3{
        margin-right: 5px;
    }

    .input{
        box-shadow: 2px 2px 10px 1px grey;
        background-color: rgba(255, 255, 255, 0.479);
        margin-top: 20px;
    }
}