<div class="container rowb buscador"  >
    
    
        <div class=" rowb">
            <label for="local" style="margin: 10px;">¿Qué estás buscando?</label>
            <select type="text" name="Local"  #local>
                <option value=""></option>
                <option value="Belleza">Belleza</option>
                <option value="Deporte">Deporte</option>
                <option value="Hogar">Hogar</option>
                <option value="Moda">Moda</option>
                <option value="Ocio">Ocio</option>
                <option value="Restauración">Restauración</option>
                <option value="Salud">Salud</option>
                
            </select>
    
        </div>
     
    <div class="colb2 ">
        <div class="colb colb3">
            <input type="text" name="Código Postal" placeholder="C. Postal" #cp>
        </div>
        <div class="colb" >
           <button (click)="mostrarTarjetas()">
                <i class="fas fa-search lupa" ></i>
           </button> 
        </div>
    </div>


</div>

