.rowb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    
}

.colb{
    display: flex;
    flex-direction: column;
}
.colb2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
   
}

.lupa{
    
    color:rgba(114, 111, 97, 1)
}

input{
    border:solid 1px #ccc;
    border-radius: 5px;
}

select{
    border:solid 1px #ccc;
    border-radius: 5px;
    outline:none;
}

.buscador{
    box-shadow: 0px 4px 8px 3px rgb(0 0 0 / 20%);
    background-color: rgba(255, 255, 255, 0.479);
    margin-top: 30px;
    font-family: Titillium Web;
    border-radius:10px
}

button{
    background-color:rgba(255, 255, 255, 0.479); 
    border: white;
}

@media screen and (max-width:475px){
    
    .rowb{
        justify-content: center;
        width: 350px;
        
    }

    .colb2{
        margin-bottom: 20px;
    }

    input{
        border:solid rgba(128, 128, 128, 0.217);
        border-width: 1px;
    }

    .colb3{
        margin-right: 5px;
    }

    .input{
        box-shadow: 2px 2px 10px 1px grey;
        background-color: rgba(255, 255, 255, 0.479);
        margin-top: 20px;
    }
    .buscador{
        box-shadow: 1px 1px 5px 1px grey;
        background-color: rgba(255, 255, 255, 0.479);
        margin-top: 30px;
        font-family: Titillium Web;
        border-radius:10px;
       width: 100vw;
    }
}