

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.logoImagen {
    margin-top:30px;
    margin-left:60px;
    height:80px;
    border-radius:100px;
    background-image:url("../../../assets/logo.png");
   	background-repeat:no-repeat;
   	background-size:80% 100%;
}

.logo   {
    margin-top:15px;
    font-family: Abril Fatface;
    font-size:70px;
    color:#6c757d;
}

.recuadro   {
    position:absolute;
    border-radius:20px;
}

.programetas    {
    top:60px;
    left:100px;
    height:180px;
    width:300px;
    background-image:url("../../../assets/fila.png");
   	background-repeat:no-repeat;
   	background-size:100% 100%;
}

.bg-warning {
    top:270px;
    left:100px;
    width:300px;
    height:275px;
}

.imagenAmarilla {
    width:100%;
    height:100%;
    background-image:url("../../../assets/gorra.png");
    background-position: center;
   	background-repeat:no-repeat;
   	background-size:auto 70%;
    margin:0 auto;
}

.reclamo    {
    color:white;
    font-weight:900;
    font-size:25px;
}

.bg-success {
    top:120px;
    left:430px;
    height:250px;
    width:400px;
    text-align:center;
}

.login   {
    height:25%;
    justify-content:center;
    text-align:center;
    align-items:center;
}

.input-group    {
    width:60%;
}

.btn-light   {
    margin-top:5px;
    width:40%;
    border-radius:5px;
    border-style:solid;
    border-color:grey;
    border-width:1px;
    font-weight:900;
    color:#6c757d;
}

.rosa   {
    top:395px;
    left:430px;
    height:150px;
    width:225px;
    background-color:#ff4081;
    cursor:pointer;
}

.titulo_registro    {
    margin-top:50px;
}

.p_registro {
    margin-top:150px;
    text-align:justify;
    color:white;
}

.azulado    {
    width:300px;
    height:150px;
    top:395px;
    left:685px;
    background-color:#6C5CE7;
    background-image:url("../../../assets/programetas.jpg");
   	background-repeat:no-repeat;
   	background-size:130% 100%;
}

.carnoso    {
    top:395px;
    left:1015px;
    height:150px;
    width:225px;
    background-color:rgb(230, 93, 93);
    cursor:pointer;
}

.violeta    {
    top:195px;
    left:860px;
    height:175px;
    width:150px;
    background-color:#aa66cc;
    background-image:url("../../../assets/lapiz2.png");
   	background-repeat:no-repeat;
   	background-size:100% 100%;
}

.zapatilla  {
    top:245px;
    left:1040px;
    height:125px;
    width:200px;
    background-image:url("../../../assets/zapatilla.jpg");
   	background-repeat:no-repeat;
   	background-size:100% 100%;
}

.carnoso:hover{
    transform: scale(1.2);
}

.rosa:hover{
    transform: scale(1.2);
}

.error  {
    margin-top:10px;
    font-weight:bolder;
    font-size: small;
    color:white;
}

@media screen and (max-width:1235px) {
    button  {
        margin-top:15px;
    }

    .input-group    {
        padding:10px;
    }
    .zapatilla  {
        display:none;
    }

    .azulado    {
        display:none;
    }

    .bg-warning {
        display:none;
    }

    .carnoso    {
        top:400px;
        left:180px;
        width:190px;
    }

    .rosa   {
        width:190px;
        left:400px;
        top:400px;
    }

    .bg-success {
        top:150px;
        left:625px;
        height:400px;
        width:400px;
    }

    .programetas    {
        width:410px;
        height:220px;
        top:150px;
        left:180px;
        background-image:url("../../../assets/programetas.jpg");
    }

    .violeta    {
        display:none;
    }

    .flecha {
        margin-top:13px;
    }
}

@media screen and (max-width:1160px) {
    .carnoso    {
        top:400px;
        left:130px;
    }

    .rosa   {
        left:350px;
        top:400px;
    }

    .programetas    {
        left:130px;
    }

    .bg-success {
        left:575px;
        width:400px;
    }
}

@media screen and (max-width:1060px) {
    .bg-success {
        left:525px;
    }

    .carnoso    {
        left:80px;
    }

    .rosa    {
        left:300px;
    }

    .programetas    {
        left:80px;
    }
}

@media screen and (max-width:990px) {
    .bg-success {
        left:270px;
    }

    .carnoso    {
        top:575px;
        left:270px;
    }

    .rosa    {
        top:575px;
        left:480px;
    }

    .programetas    {
        display:none;
    }

    .logoImagen {
        display:none;
    }

    .logoImagenResponsive   {
        margin-top:30px;
        height:80px;
        background-image:url("../../../assets/logo.png");
        background-repeat:no-repeat;
        background-size:50% 100%;
    }
}

@media screen and (max-width:890px) {
    .bg-success {
        height:350px;
        left:465px;
    }

    .carnoso    {
        left:270px;
        top:525px;
    }

    .rosa    {
        left:480px;
        top:525px;
    }

    .programetas    {
        left:50px;
    }
}

@media screen and (max-width:940px) {
    .programetas    {
        display:none;
    }

    .bg-success {
        left:270px;
    }
}

@media screen and (max-width:800px) {
    .bg-success {
        left:200px;
    }

    .carnoso    {
        left:200px;
    }

    .rosa    {
        left:410px;
    }
}

@media screen and (max-width:730px) {
    .bg-success {
        left:150px;
    }

    .carnoso    {
        left:150px;
    }

    .rosa    {
        left:360px;
    }

    .logoImagenResponsive   {
        height:120px;
        margin-top:20px;
        background-size:85% 80%;
    }
}

@media screen and (max-width:625px) {
    .titulo_registro    {
        margin-top:15px;
    }
    
    .bg-success {
        width:500px;
        left:50px;
    }

    .carnoso    {
        height:70px;
        left:345px;
        width:205px;
    }

    .rosa    {
        height:70px;
        left:50px;
        width:205px;
    }

    .descripcion    {
        display:none;
    }
}

@media screen and (max-width:580px) {
    .bg-success {
        left:70px;
        width:400px;
    }

    .rosa   {
        margin-top:20px;
        left:70px;
        width:180px;
    }

    .carnoso    {
        margin-top:20px;
        left:295px;
        width:180px;
    }

    .p_registro {
        font-size:12px;
    }

    .carnoso:hover{
        transform: scale(1.1);
    }
    
    .rosa:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width:580px) {
    .bg-success {
        left:60px;
    }

    .rosa   {
        left:60px;
    }

    .carnoso    {
        left:285px;
    }
}

@media screen and (max-width:505px) {
    .bg-success {
        left:50px;
    }

    .rosa   {
        left:50px;
    }

    .carnoso    {
        left:275px;
    }

    .logoImagenResponsive   {
        height:80px;
        margin-top:40px;
        background-size:100% 100%;
    }
}

@media screen and (max-width:480px) {
    .bg-success {
        left:40px;
    }

    .rosa   {
        left:40px;
    }

    .carnoso    {
        left:265px;
    }
}

@media screen and (max-width:465px) {
    .bg-success {
        left:30px;
    }

    .rosa   {
        left:30px;
    }

    .carnoso    {
        left:255px;
    }
}

@media screen and (max-width:450px) {
    .bg-success {
        width:300px;
        left:80px;
    }

    .rosa   {
        width:140px;
        left:80px;
    }

    .carnoso    {
        width:140px;
        left:240px;
    }
}

@media screen and (max-width:440px) {
    .bg-success {
        left:70px;
    }

    .rosa   {
        left:70px;
    }

    .carnoso    {
        left:230px;
    }
}

@media screen and (max-width:420px) {
    .bg-success {
        left:60px;
    }

    .rosa   {
        left:60px;
    }

    .carnoso    {
        left:220px;
    }
}

@media screen and (max-width:400px) {
    .bg-success {
        left:50px;
    }

    .rosa   {
        left:50px;
    }

    .carnoso    {
        left:210px;
    }
}

@media screen and (max-width:390px) {
    .bg-success {
        left:40px;
    }

    .rosa   {
        left:40px;
    }

    .carnoso    {
        left:200px;
    }

    .logoImagenResponsive   {
        background-size:100% 80%;
        margin-top:50px;
    }
}

@media screen and (max-width:370px) {
    .bg-success {
        left:30px;
    }

    .rosa   {
        left:30px;
    }

    .carnoso    {
        left:190px;
    }
}