<div class='container-fluid'>
    <div class='row centrado'>
        <h1 class='logo'>UrTurn</h1>
    </div>

    <div class='recuadro programetas'>
            
    </div>

    <div class='recuadro centrado bg-warning'>
        <label class='reclamo'>Hacer cola nunca fue tan facil</label>
    </div>

    <div class='recuadro bg-success'>
        <div class='row login'>
            <label class='reclamo' for="login">Login</label>
        </div>

        <div class='row login'>
            <div class="input-group mb-3">
                <input  type="text" 
                        class="form-control" 
                        placeholder="Username" 
                        aria-label="Username" 
                        aria-describedby="basic-addon1" 
                        required>
            </div>
        </div>

        <div class='row login'>
            <div class="input-group mb-3">
                <input  type="text" 
                        class="form-control" 
                        placeholder="Password" 
                        aria-label="Username" 
                        aria-describedby="basic-addon1" 
                        required>
            </div>
        </div>

        <div class='row login'>
            <button type="button" class="btn btn-dark">Sign In</button>
        </div>
    </div>

    <div class='recuadro rosa'>
        <div class='row centrado titulo_registro'>
            <label for="recuadro rosa" class='reclamo'>Empresa</label>
        </div>

        <div class="row centrado p_registro">
            <p>Regístrate como empresa<br/>y gestiona los turnos<br/>de espera en tu negocio</p>
        </div>
    </div>

    <div class='recuadro azulado centrado'>
        <label for="registrate" class='reclamo'>Regístrate</label>
    </div>

    <div class='recuadro carnoso'>
        <div class='row centrado titulo_registro'>
            <label for="recuadro rosa" class='reclamo'>Cliente</label>
        </div>

        <div class="row centrado p_registro">
            <p>Regístrate como cliente<br/>y aprovecha tu tiempo<br/>fácilmente</p>
        </div>
    </div>

    <div class='recuadro violeta centrado'>
        <label for="pideTurno" class='reclamo'>Pide turno</label>
    </div>

    <div class='recuadro zapatilla'></div>
</div>
