<div class="ruben-row ruben-header">

    <div class="ruben-row ">
        <p class="ruben-color-blaL ruben-header1">UrTurn</p>
    </div>

    <div class="ruben-row ruben-responsive">

        <p class="ruben-color-bla ruben-header2" routerLink="/clienteHome">Home</p>
        <p class="ruben-color-bla ruben-header2" routerLink="/clienteColas">Mis colas</p>
        <p class="ruben-color-bla ruben-header2" routerLink="/clienteOpiniones">Reseñas</p>
        <p class="ruben-color-bla ruben-header2" routerLink="/clienteFav">Favoritos</p>
        <p class="ruben-color-bla ruben-header2" routerLink="/clientePerfil">Perfil</p>

    </div>

</div>