.btn-group {
  width: 600px;
  font-family: Abril Fatface;
  font-size: 50px;
}
.botones {
  width: 300px;
  font-family: Abril Fatface;
  font-size: 50px;
}
#botonResenar {
  width: 300px;
  font-family: Abril Fatface;
  font-size: 50px;
}
#botonResenado {
  width: 300px;
  font-family: Abril Fatface;
  font-size: 50px;
}

.container{
    margin-top: 20px;
    margin-bottom: 70px;
}


.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  background-color: #f2f1ed;
  transition: transform 0.5s ease-in-out;
  width: 300px;
  height: 340px;
  margin-top: 3rem;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.6s ease-in-out;
}
.card-img-top {
  cursor: pointer; 
  width: 100%;
  height: 200px;
}
.card-title {
  width: 100%;
  height: 40px;
  background-color: rgba(75, 74, 74, 0.4);
  font-family: Abril Fatface;
  font-size: 30px;
  position: absolute;
  top: 160px;
  color: white;
  left: 0%;
  text-align: center;
}

.card-text {
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  top: 205px;
  margin-left: 5%;
}
.botonCola {
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  top: 280px;
  margin-left: 5%;
}

.valoracion {
  position: absolute;
  top: 230px;
  overflow: hidden;
  display: inline-block;
  margin-left: 5%;
}
.valoracion input {
  position: absolute;
  top: -100px;
}
.valoracion label {
  float: right;
  color: #c1b8b8;
  font-size: 30px;
}
.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
  color: #ffff00;
}

.fa-heart {
  cursor: pointer;
  position: absolute;
  top: 285px;
  margin-left: 55%;
}
.corazonGris {
  font-size: 35px;
  color: #c1b8b8;
}
.corazonRed {
  font-size: 35px;
  color: rgb(216, 8, 42);
}
#numPosicion {
  font-weight: bolder;
  background: transparent;
  color: blue;
  cursor: default;
  width: 140px;
  font-weight: bolder;
}

#comfirmarColaModal {
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 15%;
}

/* responsive*/
@media only screen and (max-width: 375px) {
  .card {
    margin-bottom: 5px;
    align-content: center;
  }
  .card:hover {
    transform: none;
  }
  .row {
    margin-top: 10px;
  }
  #comfirmarColaModal {
    margin-top: 70%;
    align-content: center;
  }
  .container{
    margin-top: 0px;
    margin-bottom: 70px;
  }
}
