<div class="col">
    <div class="card">
        <img src="{{usuarioEmpresa.imagen_url}}" class="card-img-top" alt="" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Más información" routerLink="/cliente-perfil-empresa"
            (click)="muestraLocal(usuarioEmpresa)">
            
        <div class="card-body">
            <div clase="carde-title-color ">
                <h4 class="card-title nombre">{{usuarioEmpresa.nombre_empresa}}</h4>
            </div>

            <p class="card-text">Tiempo Espera: {{usuarioEmpresa.tiempo_espera}} Mins</p>
            <div class="valoracion">
                <app-nota [nota]="usuarioEmpresa.nota_media"></app-nota>
            </div>

            <div>
                <ng-container *ngIf="!usuarioEmpresa.id_turno; else posicion">
                    <ng-container *ngIf="usuarioEmpresa.disponible==true; else noshow">
                        <button type="button" class="btn btn-primary botonCola" id=""
                            data-toggle="modal" data-target="#comfirmarColaModal" (click)="guardarEmpresa()">Pedir Turno
                        </button>
                    </ng-container>
                    <ng-template #noshow>
                        <button type="button" disabled class="btn btn-primary botonCola" id=""
                            data-toggle="modal" data-target="#comfirmarColaModal">No disponible
                        </button>
                    </ng-template>
                </ng-container>

                <ng-template #posicion>
                    <button class="btn btn-primary botonCola " id="numPosicion"> Ticket:{{usuarioEmpresa.id_turno}}</button>
                </ng-template>

                <span class="corazonGris" [ngClass]="{corazonRed: usuarioEmpresa.favorito}">
                    <i class="fas fa-heart" (click)="fav()"></i>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="comfirmarColaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="desplegable">
                <h5 class="modal-title" id="exampleModalLabel">¿ Deseas pedir turno ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="comfirmadoCola()"
                    data-toggle="modal" data-target="#enviarModal">Sí</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



