<div class="global">
    <div class="container">    

        <div class="contenedor-form">

            <!-- photo perfil -->

            <div class="pic-perfil" (input)="handelChange($event)">
                
                <div class="foto">
                    <!-- <img class="imagen" src="{{user.imagen_url}}"  alt=" Not Found "> -->
                    <img class="imagen" name=img  src="../../../assets/mcdonalds.png" alt=" Not Found ">

                    <div class='centrado'>
                        <button type="button" class="exit" data-toggle="modal" data-target="#exampleModalCenter">
                           Cerrar sesión 
                        </button>
                    </div>
                    
                    <div  class="categoria">
                    
                            <select class="etiquetas" name="categoria" type="text">
                                <option value="">{{user.categoria}}</option>
                                <option value="belleza">Belleza</option>
                                <option value="deporte">Deporte</option>
                                <option value="moda">Moda</option>
                                <option value="ocio">Ocio</option>
                                <option value="restauración">Restauración</option>
                                <option value="salud">Salud</option>
                        </select>
                    </div>

                    <!-- <div>
                        <button type="button" class="exit"> Cerrar Sesion </button>
                    </div> -->

                </div>

                <!-- Fin foto perfil -->
            
                <form class="formulario">

                    <p class="input-name" >Imagen de perfil:</p>
                    <input class="input2" type="url" name="imagen_url" placeholder="Imagen">  <br/>
                    
                    <p class="input-name" >Nombre:</p>
                    <input class="input2" type="text" name="nombre_empresa" placeholder="{{user.nombre_empresa}}">  <br/>
                    
                    <p class="input-name" >Direccion:</p>
                    <input class="input2" type="text" name="direccion" placeholder="{{user.direccion}}"> <br>
                    
                    <p class="input-name" >Contraseña:</p><label *ngIf='nombre_cliente && telefonoValid && !passwordValid' class='input-name' style="color:red"> El password debe tener como mínimo 6 carateres </label>
                    <input class="input2" type="password" name="password" placeholder="Contraseña"
                    [ngClass]="{'is-invalid':passwordValid==false}" on-keyup = validarPassword()> <br/>
                    
                    <p class="input-name" >Confirmar contraseña:</p>
                    <input class="input2" type="password" name="repeatPassword" placeholder="Confirmar Contraseña"
                    [ngClass]="{'is-invalid':!validarRepeat(this.profileData.password.value, this.profileData.repeatPassword.value)}" on-keyup = "validarRepeat(this.profileData.password.value, this.profileData.repeatPassword.value)"> <br/>
                    
                    <p class="input-name" >Numero de telefono:</p>
                    <input class="input2" type="text" name="telefono" placeholder="{{user.telefono}}"
                    [ngClass]="{'is-invalid':!telefonoValid}" on-keyup = validarTelefono()> <br/>
                    
                    <p class="input-name" >Logo:</p>
                    <input class="input2" type="url" name="logo" placeholder="Logo">  <br/>

                    <div class="horario">
                    
                        <p class="time-name"> Apertura: </p>     
                        <input class="input2-time" type="time" name="apertura" placeholder="apertura" value="{{user.apertura}}">  <br/>
                    
                        <p class="time-name">Cierre: </p> 
                        <input class="input2-time" type="time" name="cierre" placeholder="cierre" value="{{user.cierre}}">  <br/>
                    
                    </div>

                    <p class="input-name" >Tiempo de espera:</p>
                    <input class="input2" type="text" name="tiempo_espera" placeholder="{{user.tiempo_espera}}">  <br/>
                    
                    <p class="time-name" >Descripcion:</p>
                    <textarea class="descripcion input2" name="descripcion" placeholder="{{user.descripcion}}"></textarea> <br/>
                
                    <div class="btn-container">

                    <button class="boton" data-toggle="modal" data-target="#modalModificar">Enviar</button>            

                    </div>
                </form>    
            </div>
        </div> 
    </div>
</div>

<app-modal [mensajeModal]="empresaPerfil" (eventoGuardarPerfil)="subirCambios($event)"></app-modal>

<div class="modal fade ruben cierre" tabindex="-1" role="dialog" id='exampleModalCenter' aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body" id="desplegable">
            <p style="text-align: center; font-size: 20px;">¿Seguro que quieres cerrar sesión?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" on-click='cerrarSesion()'>Cerrar sesión</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        </div>
        </div>
    </div>
</div>