<div class="global">
    <div class="container">    

        <div class="contenedor-form">

            <!-- photo perfil -->

            <div class="pic-perfil" (input)="handelChange($event)">
                
                <div class="foto">
                    <img class="imagen" src="{{user.imagen_url}}"  alt=" Not Found ">
                    
                    <div  class="categoria">
                    
                            <select class="etiquetas" name="categoria" type="text">
                                <option value="">{{user.categoria}}</option>
                            <option value="Belleza">Belleza</option>
                            <option value="Deporte">Deporte</option>
                            <option value="Moda">Moda</option>
                            <option value="Ocio">Ocio</option>
                            <option value="Restauración">Restauración</option>
                            <option value="Salud">Salud</option>
                        </select>
                    
                    </div>

                    <!-- <div>
                        <button type="button" class="exit"> Cerrar Sesion </button>
                    </div> -->

                </div>

                <!-- Fin foto perfil -->
            
                <form class="formulario">

                    <input class="input2" type="text" name="nombre_empresa" placeholder="{{user.nombre_empresa}}">  <br/><br/>
                    <input class="input2" type="text" name="direccion" placeholder="{{user.direccion}}"> <br><br/>
                    <input class="input2" type="password" name="password" placeholder="Contraseña">  <br/><br/>
                    <input class="input2" type="password" name="repeatPassword" placeholder="Confirmar Contraseña">  <br/><br/>
                    <input class="input2" type="text" name="telefono" placeholder="{{user.telefono}}">  <br/><br/>
                    <input class="input2" type="url" name="imagen_url" placeholder="Imagen">  <br/><br/>
                    <input class="input2" type="url" name="logo" placeholder="Logo">  <br/><br/>

                    <div class="horario">
                    <p class="tithis.me-nathis.me left"> Apertura: </p> 
                    <input class="input2-time" type="time" name="apertura" placeholder="apertura">  <br/><br/>
                    <p class="time-name rigth">Cierre: </p> 
                    <input class="input2-time" type="time" name="cierre" placeholder="cierre">  <br/><br/>
                    </div>

                    <input class="input2" type="text" name="tiempo_es   pera" placeholder="{{user.tiempo_espera}}">  <br/><br/>

                    <textarea class="descripcion input2" name="descripcion" placeholder="{{user.descripcion}}"></textarea> <br/><br/>
                
                    <div class="btn-container">

                    <button class="boton" data-toggle="modal" data-target="#modalModificar">Enviar</button>            

                    </div>
                </form>    
            </div>
        </div> 
    </div>
</div>

<app-modal [mensajeModal]="empresaPerfil" (eventoGuardarPerfil)="subirCambios($event)"></app-modal>