.global{
    width: 100%;
    margin-top: 100px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 50px;
}
input:focus{
    outline: none;
}

.input-name {
    font-size:80%;
    margin-bottom: 1px;
    margin-top: 10px;
}

.categoria{
    /* margin-top: 50px; */
    width: 450px;
}

.etiquetas{
    justify-content: center;
    width: 740px;
    height: 45px;
    border:1px solid #ccc;
    /* margin-bottom: 20px; */
}

/* .exit   {
    margin-bottom:22px;
    padding:3px;
} */

.imagen {
    margin-top:56px;
    margin-bottom:-10px;
}

.movil{
    display: flex;
}

@media screen and (max-width:475px) {
    
    .movil{
        display: none;    
    } 

    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .etiquetas{
        justify-content: center;
        width: 345px;
        height: 35px;
    }
    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .contenedor-form {
        display: flex;
        flex-direction: column;
        width:max-content;
    }
    .formulario{
        width: 100%;
    }
    .categoria{
        width: auto;
        
    }
    .input2 {
        margin-bottom: -25px;
    }
    .input-name{
        margin-top: 20px;
    }

    .centrado {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
    }

    .exit   {
        width: 350px;
    }

}

.contenedor-form {
    background-color: rgba(255, 255, 255, 0.479);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    margin-top: 25px;
}


.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-right: 100px; */
}

.input2{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius: 5px;
}

.horario{
    display: flex;
    width: 100%;
    height: 25px;
    margin-top: 10px;
}

.input2-time{
    width: auto;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius: 5px;
    /* margin-right: 15%; */
}

.time-name{
    font-size: 100%;
    margin-right: 5%;
}
.apertura{
    margin-right: 50px;
}

.btn-container{
    text-align: center;
}

.boton {
    background-color: #5C74F6;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 35px;
    font-size: auto;
    border-style: none;
}
.exit{
    justify-content: center;
    width: 500px;
    height: 30px;
    background-color: rgb(238, 26, 26);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    border-style: none;
}

.modal-content{
    margin-top: 90%;
}

.ruben{
    margin-top:15%;
}
@media screen and (max-width:475px) {
    
    .global{
        margin-top: 75px;
    }
    .input2{
        padding: 5px;
    }

    .btn-container{
        flex-direction: column;
        margin-top:20px;
        justify-content: center;
    }

    .boton{
        flex-direction: row;
        background-color: #5C74F6;
        border-style: none;
        border-radius: 5px;
        color: white;
        width: 150px;
        height: 30px;
        font-size: 15px;
    }

    .horario{
        margin-top: 20px;
    }

    .time-name{
        margin-top:2px;
        font-size: 80%;
    }
    .exit{
        width: 350px;
    }
}

/***********************Foto perfil**********************/

.foto{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border-style: solid; */
    /* justify-content: center; */
    /* overflow: hidden; */
}

/* la imagen */
.imagen{
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

/* Circulo de la imagen */
.pic-perfil{
    /* border-style: solid; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;    
}
/* boton cerrar sesion */

@media screen and (max-width:475px) {

    .foto{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .imagen{
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
    }

    .pic-perfil{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
}