<div class="container">

    <div class="row">

        <div class="titulo" ><h1>Perfil Empresa</h1></div>

    </div>

    <div class="contenedor-form">
        
        <form class="formulario">

            <input class="input2" type="text" placeholder="Nombre">  <br/><br/>

            <input class="input2" type="text" placeholder="Categoria">   <br/><br/>

            <input class="input2" type="password" placeholder="Contraseña">  <br/><br/>
                
            <input class="input2" type="password" placeholder="Confirmar Contraseña">  <br/><br/>

            <input class="input2" type="email" placeholder="Email">  <br/><br/>

            <input class="input2" type="text" placeholder="Imagen">  <br/><br/>

            <input class="input2" type="text" placeholder="Horario">  <br/><br/>

            <input class="input2" type="text" placeholder="Tiempo Estimado Espera">  <br/><br/>

            <textarea class="descripcion input2" name="mensaje" placeholder="Escriba aquí la descrippción de su local"></textarea> <br/><br/>

        </form>    

        <div class="btn-container">

            <button class="boton" data-toggle="modal" data-target="#modalModificar">Enviar</button>            

        </div>

    </div>

</div>



<app-modal [mensajeModal]="empresaPerfil"></app-modal>
