.global{
    margin: 10px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 50px;
}
input:focus{
    outline: none;
}
.categoria{
    margin-top: 50px;
    width: 100%;
}

.etiquetas{
    justify-content: center;
    width: 200px;
}

@media screen and (max-width:475px) {
    .etiquetas{
        justify-content: center;
        width: 100px;
    }
    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .contenedor-form {
        display: flex;
        flex-direction: column;
        width:max-content;
    }
    .formulario{
        width: 100%;
    }
    .categoria{
        width: 100%;
        
    }
    .input2 {
        margin-bottom: -25px;
    }
}

.contenedor-form {
    background-color: rgba(255, 255, 255, 0.479);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}


.formulario {
    /* border-style: solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    /* border-style: solid; */
}

.input2{
    /* margin: 5px; */
    /* margin-bottom: -25px; */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius: 5px;
}

.horario{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin-bottom: 20px;
}

.input2-time{
    width: auto;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 15%;
}

.time-name{
    margin-right: 5%;
}

.boton {

    background-color: #5C74F6;
    margin: auto 10px 20px 10px;
    border-style: none;
    margin-left: 20px;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 25px;
}

@media screen and (max-width:475px) {
    
    .rigth{
        margin-left: -17px;
    }

    .input2{
        padding: 5px;
    }

    .boton{
        background-color: #5C74F6;
        border-style: none;
        margin: auto 10px 20px 10px;
        border-radius: 5px;
        color: white;
        width: 100px;
        height: 25px;
        font-size: 15px;
    }
}

/***********************Foto perfil**********************/

.foto{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border-style: solid; */
    /* justify-content: center; */
    /* overflow: hidden; */
}

/* la imagen */
.imagen{
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

/* Circulo de la imagen */
.pic-perfil{
    /* border-style: solid; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;    
}
/* boton cerrar sesion */
.exit{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 200px;
    height: 30px;
    background-color: #5C74F6;
    border-style: none;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width:475px) {

    .foto{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .categoria{
        text-align: center;
    }
    .imagen{
        display: block;
        margin: auto;
        width: 100px;
        height: 100px;
    }
    .exit{
        width: 100px;
    }
    .pic-perfil{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
}