/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(./assets/fondoPantalla.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
