<div class="ruben-row ruben-header">

    <div class="ruben-row ">
        <p class="ruben-color-blaL ruben-header1">UrTurn</p>
    </div>

    <div class="ruben-row ruben-responsive">
        
        <p class="ruben-color-bla ruben-header2" routerLink="/empresaHome">Home</p>
        <p class="ruben-color-bla ruben-header2" routerLink="/empresaCola">Mis colas</p>
        <p class="ruben-color-bla ruben-header2" routerLink="/empresaOpiniones">Reseñas</p>
        <p class="ruben-color-bla ruben-header2" routerLink="/empresaPerfil">Perfil</p>
        
    </div>    
    
</div>
