


<div class="responsive">
    <div class="footer rowf" *ngIf="empresa==true ;else footer2">

        <div routerLink="empresaHome" class="colf " >
            <i class="bot fas fa-home "></i>
        </div>
        <div routerLink="empresaColas" class="colf " >
            <i class="bot fas fa-users"></i>
        </div>
        <div routerLink="empresaOpiniones" class="colf " >
            <i class="bot fas fa-comments"></i>
        </div>
        <div routerLink="empresaPerfil" class="colf " >
            <i class="bot fas fa-user"></i>
        </div>
        
    </div>
    
    <ng-template #footer2>

        <div class="footer rowf">

            <div routerLink="clienteHome" class="colf " >
                <i class="bot fas fa-home "></i>
            </div>
            <div routerLink="clienteColas" class="colf " >
                <i class="bot fas fa-users"></i>
            </div>
            <div routerLink="clienteOpiniones" class="colf " >
                <i class="bot fas fa-comments"></i>
            </div>
            <div routerLink="clienteFav" class="colf " >
                <i class="bot fas fa-heart"></i>
            </div>
            <div routerLink="clientePerfil" class="colf " >
                <i class="bot fas fa-user"></i>
            </div>

        </div>

    </ng-template>
</div>



