.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgba(250, 246, 240, 1);
    
  
    
}
.colf{
    display: flex;
    flex-direction: column;
}

.rowf{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
}




.bot{
    color: rgba(114, 111, 97, 1);
    font-size: 7vw;
}



.prueba{
    color: rgba(48, 79, 254, 0.8);
    font-size: 7vw;
}

.responsive{
    display: none;
}

@media screen and (max-width:475px){
    
    .responsive{
        display: contents;
    }
}
