.footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: rgba(250, 246, 240, 1);
    
  
    
}
.colf{
    display: flex;
    flex-direction: column;


}
.rowf{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vw;
    

}

.bot{
    color: rgba(114, 111, 97, 1)
}

.bot:hover{
    color: black;
}

.responsive{
    display: none;
}

@media screen and (max-width:475px){
    
    .responsive{
        display: contents;
    }
}
