/* Desktop */
.global {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-bottom: 5px;
  /* text-align: center; */
}
.two {
  display: none;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0e.ttf)
    format("truetype");
}
.container {
  position: relative;
  width: 200px;
  height: 200px;
  left: 0;
  right: 0;
  margin: 0 0;
  top: 20px;
}
/* Propio x-d */
img {
  border-radius: 5%;
}
/* end x-d */
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.text {
  font-family: Titillium Web;
  display: flex;
  margin-top: -30px;
  color: black;
}
.div-img .text {
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  z-index: -1;
  display: block;
  bottom: 20px;
  width: 100%;
  text-align: center;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img:hover .img {
  -webkit-transform: 0px -30px 0.5;
  -moz-transform: 0px -30px 0.5;
  -ms-transform: 0px -30px 0.5;
  -o-transform: 0px -30px 0.5;
  transform: 50px -30px 0.5;
  transform: translate(0px, -30px) scale(0.5);
  -webkit-transform: translate(0px, -30px) scale(0.5);
  -moz-transform: translate(0px, -30px) scale(0.5);
  -o-transform: translate(0px, -30px) scale(0.5);
  -ms-transform: translate(0px, -30px) scale(0.5);
  border-radius: 50%;
}
.div-img:hover .text {
  z-index: 1;
  font-size: 10px;
  -webkit-transform: 0px 0px 2;
  -moz-transform: 0px 0px 2;
  -ms-transform: 0px 0px 2;
  -o-transform: 0px 0px 2;
  transform: 0px 0px 2;
  transform: translate(0px, 0px) scale(2);
  -webkit-transform: translate(0px, 0px) scale(2);
  -moz-transform: translate(0px, 0px) scale(2);
  -o-transform: translate(0px, 0px) scale(2);
  -ms-transform: translate(0px, 0px) scale(2);
  
}
/* Tarjetas donde estan las reñeñas */
.conteiner {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* la reseña */
.group {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: white;
  border: solid #5C74F6;
  /* background-color: #e2e2e2d5; */
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  /* z-index: -1; */
}
.comment-user {
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 450px;
  padding-right: 10px;
}
.comment {
  margin-top: 15px;
  margin-left: 20px;
  width: 400px;
  word-break: normal;
}
/* ESTRELLAS */
.valoracion {
  width: 100%;
  margin-right: 20px;
}

.stars {
  width: 100%;
  display: flex;
  text-align: end;

}

.fechaDeOpinion {
  font-family: Titillium Web;
  font-weight: bolder;
  font-size: 15px;
  margin-top: -20px;
}

/**********************************************************************************************************/
@media only screen and (max-width: 1300px) {
.global {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  .two {
    display: flex;
  }
  .one {
    display: none;
  }
  .group {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    /* margin-top: 10px;
    margin-bottom: 65px; */
  }
  .main{
    margin-bottom: 65px;
  }

  .user {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
  }
    /*
  .user-name {
    font-weight:bolder;
    margin-top: 10px;
    margin-left: -44px;
    margin-bottom: 0px;
    width: 130px;
    font-family: Titillium Web;
    font-size: 20px; 
    text-align: end;  
  }
  */

  .user-name{
    font-size: 25px;
  }
  .pic-profile {
    width: 100px;
    height: 70px;
    margin-top: 5px;
    margin-left: 50px;
  }
  img {
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin-left: -50px;
    margin-top: 0px;
  }
  /**/
  .comment {
    width: 100%;
    padding: 10px;
    align-content: center;
    margin-top: -8px;
    word-break: break-all;
  }
  .comment-user {
         width: 100%;
        text-align: left;
        font-size: 20px;
        align-content: left;
        margin-right: -5px;
  }
  .clasificacion {
    margin-right: -2px;
    margin-top: -25px;
  }
   
  .stars{
     margin-top: 0px;
     justify-content: left;
     align-content: flex-start;
  }
 /*
  .fechaDeOpinion{
    font-family: Titillium Web;
    font-weight: bolder;
    font-size: 15px;
    margin-top: -5px;
    padding-top: 7px;
    width: 130px;
    text-align: end;
  }*/
  .estrellaComentario{
    margin-top: -25px;
  }
}



/**********************************************************************************************************/
/* Mobile */
@media only screen and (max-width: 375px) {
  .global {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  .two {
    display: flex;
  }
  .one {
    display: none;
  }
  .group {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    /* margin-top: 10px;
    margin-bottom: 65px; */
  }
  .main{
    margin-bottom: 65px;
  }

  .user {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
  }
    /*
  .user-name {
    font-weight:bolder;
    margin-top: 10px;
    margin-left: -44px;
    margin-bottom: 0px;
    width: 130px;
    font-family: Titillium Web;
    font-size: 20px; 
    text-align: end;  
  }
  */

  .user-name{
    font-size: 25px;
  }
  .pic-profile {
    width: 100px;
    height: 70px;
    margin-top: 5px;
    margin-left: 50px;
  }
  img {
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin-left: -50px;
    margin-top: 0px;
  }
  /**/
  .comment {
    width: 100%;
    padding: 10px;
    align-content: center;
    margin-top: -8px;
    word-break: break-all;
  }
  .comment-user {
         width: 100%;
        text-align: left;
        font-size: 20px;
        align-content: left;
        margin-right: -5px;
  }
  .clasificacion {
    margin-right: -2px;
    margin-top: -25px;
  }
   
  .stars{
     margin-top: 0px;
     justify-content: left;
     align-content: flex-start;
  }
 /*
  .fechaDeOpinion{
    font-family: Titillium Web;
    font-weight: bolder;
    font-size: 15px;
    margin-top: -5px;
    padding-top: 7px;
    width: 130px;
    text-align: end;
  }*/
  .estrellaComentario{
    margin-top: -25px;
  }
  
}
