<!-- Desktop -->
<div class="global one"> 

    <div class="conteiner">

    <!-- caja de reseñas -->
    
    <div class="group">

        <!-- <div class="user"> -->
    
            <!-- <div class="pic-profile"> -->
                <div class="container">
                    <div class="div-img" >
                      <img class="img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" title="Foto10" alt="Foto10">
                      <div class="text">Luca</div>
                    </div>
                  </div>
            <!-- </div> -->
                <!-- <p class="user-name"> david </p> -->
        <!-- </div> -->
    
            <div class="comment">
                <p class="comment-user">every conjuring movies be like “this is the scariest job
                    that ed and lorraine warren ever did” like is there any job they did that 
                    aren’t scary these guys are literally ghostbusters</p>
            </div>
    
            <div class="stars">
        
                <div class="valoracion">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">★</label>
                            </p>
                        </form>
                </div>
    
            </div>
    </div>

    <div class="group">

        <!-- <div class="user"> -->
    
            <!-- <div class="pic-profile"> -->
                <div class="container">
                    <div class="div-img" >
                      <img class="img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" title="Foto10" alt="Foto10">
                      <div class="text">Juana La Cubana</div>
                    </div>
                  </div>
            <!-- </div> -->
                <!-- <p class="user-name"> david </p> -->
            <!-- </div> -->
    
            <div class="comment">
                <p class="comment-user">Boring Boring Boring Boring Boring Boring Boring Boring
                    Boring Boring Boring Boring Boring Boring Boring Boring Boring Boring
                    Boring Boring Boring Boring Boring Boring Boring Boring Boring Boring
                    Boring Boring</p>
            </div>
    
            <div class="stars">
        
                <div class="valoracion">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">★</label>
                            </p>
                        </form>
                </div>
    
            </div>
    </div>


        <div class="group">

            <!-- <div class="user"> -->
        
                <!-- <div class="pic-profile"> -->
                    <div class="container">
                        <div class="div-img" >
                          <img class="img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" title="user-pic" alt="Foto10">
                          <div class="text">Cloe</div>
                        </div>
                      </div>
                <!-- </div> -->
                    <!-- <p class="user-name"> david </p> -->
            <!-- </div> -->
        
                <div class="comment">
                    <p class="comment-user">Nothing makes me cry like good animation does. Pixar, you did it again.
                        Jacob Tremblay truly was the best choice for Luca, his voice acting is just as good as his own acting.</p>
                </div>
        
                <div class="stars">
            
                    <div class="valoracion">
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">★</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">★</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">★</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">★</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">★</label>
                                </p>
                            </form>
                        </div>
        
                    </div>
            </div>

            <div class="group">

                <!-- <div class="user"> -->
            
                    <!-- <div class="pic-profile"> -->
                        <div class="container">
                            <div class="div-img" >
                              <img class="img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" title="Foto10" alt="Foto10">
                              <div class="text">David</div>
                            </div>
                          </div>
                    <!-- </div> -->
                        <!-- <p class="user-name"> david </p> -->
                <!-- </div> -->
            
                    <div class="comment">
                        <p class="comment-user">The shortest Pixar movie since “Toy Story,” and one
                             of the few that manages to keep its high-concept premise anchored to a
                            simple humanscale, Enrico Casarosa’s “Luca” is effectively the Disney+ 
                            equivalent (read: non-alcoholic version) of an aperol spritz on a late
                            summer afternoon: sweet, effervescent, and all the more satisfyig for its simplicity. 
                            At times, “Luca” is so modest, so restrained, so not about sentient
                            action figures or a family of superheroes or the nature of the human soul that it almost doesn’t feel like a Pixar film at all.</p>
                    </div>
            
                    <div class="stars">
                
                        <div class="valoracion">
                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label for="radio5">★</label>
                                    </p>
                                </form>
                        </div>
            
                    </div>
            </div>
    </div>  
     <!-- repetir -->
</div>

<!-- ********************Mobile********************  -->

<div class="global two"> 

    <!-- reseñas movil -->
    
    <div class="group">
        <!-- Foto, nombre y estrellas -->
        <div class="user">
            <!-- Foto -->
            <div class="pic-profile">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="foto de cliente">
            </div>
            <!-- Nombre -->
            <p class="user-name"> Luca </p>
                <!-- Estrellas -->
                <div class="stars">
            
                    <div class="valoracion">
                        <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label for="radio1">★</label>
                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label for="radio2">★</label>
                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label for="radio3">★</label>
                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label for="radio4">★</label>
                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label for="radio5">★</label>
                        </p>
                        </form>
                    </div>
        
                </div>
            </div>
        <!--Are Comentario -->
        <div class="comment">
            <!-- Comenteario -->
            <p class="comment-user">every conjuring movies be like “this is the scariest job that
                ed and lorraine warrenever did” like is there any job
                they did that aren’t scary these guys are literally ghostbusters</p>
        </div>

    </div>
        <!-- repeat -->

        <div class="group">
            <!-- Foto, nombre y estrellas -->
            <div class="user">
                
                <div class="pic-profile">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="foto de cliente">
                </div>

                <p class="user-name"> Juana La Cubana</p>
                <div class="stars">
        
                <div class="valoracion">
                    <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                    </form>
                </div>
    
            </div>
            </div>

            <div class="comment">
                <p class="comment-user">Boring Boring Boring Boring Boring Boring Boring Boring
                    Boring Boring Boring Boring Boring Boring Boring Boring Boring Boring Boring 
                    Boring Boring Boring Boring Boring Boring Boring Boring Boring Boring Boring</p>
            </div>


        </div>
        <!-- 2 -->
        <div class="group">

            <div class="user">
                
                <div class="pic-profile">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="foto de cliente">
                </div>
                
                <p class="user-name"> Cloe</p>

                <div class="stars">
        
                    <div class="valoracion">
                        <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label for="radio1">★</label>
                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label for="radio2">★</label>
                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label for="radio3">★</label>
                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label for="radio4">★</label>
                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label for="radio5">★</label>
                        </p>
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="comment">
                <p class="comment-user">Cloe
                    Nothing makes me cry like good animation does. Pixar, you did it again. 
                    Jacob Tremblay truly was the best choice for Luca, 
                    his voice acting is just as good as his own acting.</p>
            </div>
    
            
        </div>
        <!-- 3 -->
        <div class="group">

            <div class="user">
                
                <div class="pic-profile">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="foto de cliente">
                </div>

                <p class="user-name"> David </p>

                <div class="stars ">
                            
                    <div class="valoracion">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
        
                </div>
            </div>
    
            <div class="comment">
                <p class="comment-user">
                    The shortest Pixar movie since “Toy Story,” and one of the few that manages to keep
                    its high-concept premise anchored to a simple human scale, Enrico Casarosa’s “Luca” is effectively
                    the Disney+ equivalent (read: non-alcoholic version) of an aperol spritz on a late summer
                    afternoon: sweet, effervescent, and all the more satisfying for its simplicity. At times,
                    “Luca” is so modest, so restrained, so not about sentient action figures or a 
                    family of superheroes or the nature of the human soul that it almost doesn’t feel like a Pixar film at all.
                </p>
            </div>
    
            
        </div>
        <!-- 4 -->
        <div class="group">

            <div class="user">

                

                <div class="pic-profile">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="foto de cliente">
                </div>

                <p class="user-name"> tester07 </p>

                <div class="stars">
        
                    <div class="valoracion">
                        <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label for="radio1">★</label>
                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label for="radio2">★</label>
                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label for="radio3">★</label>
                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label for="radio4">★</label>
                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label for="radio5">★</label>
                        </p>
                        </form>
                    </div>
    
                </div>
            </div>
    
            <div class="comment">
                <p class="comment-user">testing, test we love testing xd </p>
            </div>
    
            
    </div> 
</div>