/* Desktop */
.group{
    background-color: #6c5ce7;
    /* width: 90%; */
    max-width: min(720px, calc(100vw - 40px));
    height: 50%;
    border-radius: 20px;
    margin-bottom: 35px;
}

.user-name{
    display: flex;
    font-family: Titillium Web;
    font-size:large;
    color: #ffffff;
    word-wrap: break-word;
}

.comment-user{
    text-align: center;
    font-weight: 700;
    font-family: Titillium Web;
    color: #ffffff;
    margin-top: 3%;
    overflow-y: auto;
    /* overflow-x: hidden; */
}

.user{
    display: flex;
    justify-content: center;
    height: 2%;
    margin-top: 0.8%;
    margin-left: 1%; 
    border-radius: 20px;
    background-color: #b6b6b690;
    /* border-style: solid; */
}
.comment{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    /* border-style: solid; */
}
.stars{
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 5%;
    /* border-style: solid; */
}

.conteiner{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    /* border-style: solid; */
}
label{
    font-size: 25px;
}
p {
    margin-top: 10%;
}

.stars-icon{
    font-size: 25px;
    margin-top: 15%;
    color: #00000092;
}

.two{ 
    display: none;
}

/* .stars-icon-good{
    color:#dcdc29
} */

/* Mobile */

@media  only screen and (max-width: 475px){
    .two{
        display: flex;
    }
    .container{
        justify-content: center;
        margin-top: 5%;
    }
    .user{
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 2%;
        /* border-style: solid; */
        width: 25%;
    }
    .comment{
        /* border-style: solid; */
        width: 100%;
        margin-left: -1%;
        margin-right: -1%;
    }
    .stars{
        /* border-style: solid; */
        display: flex;
        margin-left: 30%;
    }

   .one{
       display: none;
   }
}