<!--************************************************ Desktop ************************************************-->

<div class="global one">

    <div class="conteiner">

        <div class="group">

            <div class="container">

                <div class="div-img">

                    <ng-container *ngIf="isEmpresa==true">
                        <img class="img" src="{{opinionHijo.usuario_imagen_cliente}}" title="" alt="Foto">
                        <div class="text">{{opinionHijo.usuario_nombre_cliente}}</div>
                    </ng-container>

                    <ng-container *ngIf="isEmpresa==false">
                        <img class="img" src="{{opinionHijo.usuario_imagen_empresa}}" title="" alt="Foto">
                        <div class="text">{{opinionHijo.usuario_nombre_empresa}}</div>
                    </ng-container>

                </div>
            </div>

            <div class="comment">

                <ng-container>
                    <p class="comment-user">{{opinionHijo.opinion}}</p>
                </ng-container>

            </div>

            <div class="stars">
                <div class="valoracion">

                    <ng-container >
                        <app-nota [nota]="opinionHijo.nota"></app-nota>
                    </ng-container>

                    <ng-container>
                        <p class="fechaDeOpinion">{{opinionHijo.fecha}}</p>
                    </ng-container>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- ********************************************Mobile********************************************  -->

<div class="global two">

    <div class="group">

        <div class="user">

            <div class="pic-profile">

                <ng-container *ngIf="isEmpresa==true">
                    <img src="{{opinionHijo.usuario_imagen_cliente}}" alt="Foto">
                </ng-container>

                <ng-container *ngIf="isEmpresa==false">
                    <img src="{{opinionHijo.usuario_imagen_empresa}}" alt="Foto">
                </ng-container>

            </div>

            <div class="stars">
                <div class="valoracion">

                    <ng-container *ngIf="isEmpresa==true">
                        <p class="user-name"> {{opinionHijo.usuario_nombre_cliente}} </p>
                    </ng-container> 

                    <ng-container *ngIf="isEmpresa==false">
                        <p class="user-name"> {{opinionHijo.usuario_nombre_empresa}} </p>
                    </ng-container>

                    <ng-container > 
                        <p class="fechaDeOpinion">{{opinionHijo.fecha}}</p>
                    </ng-container>

                    <div class="estrellaComentario">
                    <ng-container>
                        <app-nota [nota]="opinionHijo.nota"></app-nota>
                    </ng-container>
                    </div>

                </div>
            </div>
        </div>

        <div class="comment">

            <ng-container >
                <p class="comment-user">{{opinionHijo.opinion}}</p>
             </ng-container>

        </div>
    </div>
</div>