/* Desktop */


.global{
    text-align: center;
}


/* Valoraciones */
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

/* Tarjeta comentario */

/* Tarjetas donde estan lals reñeñas */
.conteiner{
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    /* border-style: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-color: yellow; */
}

/* la reseña */
.group{
    display: flex;
    flex-direction: row;
    /* border-style: solid; */
    /* background-color : blanco || gris */
    /* background-color: rgba(242, 241, 237, 1);  */
    /* background-color: #acaba6;*/
    overflow: hidden;
    background-color: #b6b6b690;
    /* max-width: min(720px, calc(100vw - 40px)); */
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center;  
}

.user-name{
    display: flex;
    margin-left: 30px;
    /* justify-content: center; */
    font-family: Titillium Web;
    font-size:large;
    color: #000000;
    word-wrap: break-word;
}

img{
    width: 100px;
    height: 100px; 
}

.pic-profile{
    display: flex;
    margin: 10px;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.comment-user{
    font-family: Titillium Web;
    font-weight: bolder;
    overflow-y: auto;
    /* overflow-x: hidden; */
}

.comment{
    display: flex;
    margin: 20px;
    /* border-style: solid; */
    width: 400px;
}

.stars{
    font-size: 30px;
}


/* Mobile */

@media  only screen and (max-width: 475px){

    .global{        
        width: 100%;
        margin-bottom: 50px;
    }

    .group{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 0px;
    }
    .conteiner{
        width: 100%;
        margin-left: 0px;
    }
    .user-name{
        margin-left: 0px;
    }
    .pic-profile{
        width: 50px;
        height: 50px;
    }
    img{
        width: 50px;
        height: 50px;
    }
    .user{
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 2%;
        width: 25%;
    }
    .comment{
        width: 100%;
    }

    .stars{
        width: 100%;
        font-size: 25px;
    } 


}