<!-- Desktop -->
<div class="global one">

    <div class="conteiner">

        <div class="group">

            <div class="container">
                <div class="div-img">
                    <img class="img" src="{{opinionHijo.imagen_url}}" title="cliente" alt="Foto10">
                    <div class="text">{{opinionHijo.nombre_empresa}}</div>
                </div>
            </div>

            <div class="comment">
                <p class="comment-user">{{opinionHijo.opinion}}</p>
            </div>

            <div class="stars">
                <div class="valoracion">
                    <app-nota [nota]="opinionHijo.nota"></app-nota>
                    <p class="fechaDeOpinion">{{opinionHijo.fecha}}</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ********************Mobile********************  -->

<div class="global two">

    <div class="group">

        <div class="user">

            <div class="pic-profile">
                <img src="{{opinionHijo.imagen_url}}" alt="foto de cliente">
            </div>

            <div class="stars">
                <div class="valoracion">
                    <p class="user-name"> {{opinionHijo.nombre_empresa}} </p>
                <app-nota [nota]="opinionHijo.nota"></app-nota>
                    <p class="fechaDeOpinion">{{opinionHijo.fecha}}</p>
                </div>
            </div>

        </div>

        <div class="comment">
            <p class="comment-user">{{opinionHijo.opinion}}</p>
        </div>

    </div>
</div>