<div class="container">
    <div class="buscador">
        <app-cliente-buscador></app-cliente-buscador>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <p class="fraseDefecta" *ngIf="this.favoritoService.favoritos.length===0">
            ¡ Aún no tienes locales favoritos !
        </p>
        <ng-container *ngFor="let favorito of this.favoritoService.favoritos">
            <app-cliente-tarjetas [usuarioEmpresa]="favorito"></app-cliente-tarjetas>
        </ng-container>
    </div>
    
</div>

